{
    "openapi": "3.0.1",
    "info": {
        "title": "interoperabilidad-mock",
        "description": "Proyecto de interoperabilidad Mocks",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://webappspruebas.devbancoomeva.co/mocks/"
        }
    ],
    "paths": {
        "/api/v1/mock/vinculacionCliente": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Vincular Cliente",
                "description": "Vincular Cliente",
                "operationId": "vinculacionCliente",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestBaseUnicaClienteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Vinculacion exitosa del cliente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseUnicaClienteResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/verificarDatosUsuario": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "consulta la informacion general de una persona natural",
                "description": "consultar la informacion general de una persona natural",
                "operationId": "verificarDatosUsuario",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestVerificarDatosUsuarioRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalverificarDatosUsuarioResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/verificarDatosUsuarioEmp": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Consultar información general del cliente",
                "description": "Consultar información general del cliente",
                "operationId": "verificarDatosUsuarioEmp",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestVerificarDatosUsuarioEMPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalVerificarDatosUsuarioEMPResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/vectortu": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Vector tu",
                "description": "Consultar informacion comercial",
                "operationId": "vectorTo",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestVectorToResquestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Validación exitosa en las listas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalInformacionComercialClienteDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/validateUserPswOrq": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Password Evaluate",
                "description": "Valida la contraseña para el login del cliente.",
                "operationId": "passwordEvaluate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestPasswordEvaluateRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalPasswordEvaluateResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/validateOwnerShip": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Servicio de validación de titularidad de la cuenta",
                "description": "valida la titularidad de la cuenta con los datos ingresados por el canal.",
                "operationId": "ValidateOwnerShip",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidateOwnerShipRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalValidateOwnerShipResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/validateOnboardingTransaction": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Validar onboarding",
                "description": "Validar onboarding",
                "operationId": "validateOnboardingTransaction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidateOnboardingTransactionRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalSecretSdkResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/validarProductoCliente": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Validar Producto Cliente",
                "description": "Validar Producto Cliente como Cuenta Pensionado, Cuenta Ahorros, Cuenta AFC, Cuenta CDT y Cuenta PAP",
                "operationId": "validarProducto",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidarProductoClienteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Validación exitosa del producto del cliente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalValidarProductoClienteResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/validarOTP": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "validarOTP",
                "description": "validacion codigo OTP",
                "operationId": "validarOTP",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidarOtpRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalValidarOtpResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/validarOTC": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "validarOTC",
                "description": "validacion codigo OTC",
                "operationId": "validarOTC",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidarOTCRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalValidarOTCResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/validadorPlus": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "validador Plus",
                "description": "Consulta la informaciíon financiera de un cliente",
                "operationId": "validadorPlus",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidadorPlusRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Consulta exitosa en Validador",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalValidarListasResponseDTO"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/validadorMontos": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "validadorMontos",
                "description": "Consulta validador montos segun la información proporcionada",
                "operationId": "validadorMontoss",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidadorMontosRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidadorMontosResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "400": {
                        "description": "Error en la solicitud",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/validacionCajeroCorresponsal": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Validación de Cajero Corresponsal",
                "description": "Este endpoint permite validar los datos de un cajero corresponsal y enriquecer la información de la transacción.",
                "operationId": "validacionCajeroCorresponsal",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestRequestDTOCajeroCorresposal"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operación exitosa. Devuelve la información enriquecida del cajero corresponsal.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/transferenciasCuentasPropias": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "transferenciasCuentasPropias",
                "description": "transferenciasCuentasPropias",
                "operationId": "transferenciasCuentasPropias",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestTransferenciaCuentasPropiasRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalTransferenciaCuentasPropiasBian"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/transferenciasCuentasPropiasORQ": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "transferenciasCuentasPropiasORQ",
                "description": "transferenciasCuentasPropiasORQ",
                "operationId": "transferenciasCuentasPropiasORQ",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestTransferenciaCuentasPropiasOrqRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalTransferenciaCuentasPropiasOrqBian"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/transaccionesMasivas": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Realiza transacciones masivas",
                "description": "Realiza transacciones masivas",
                "operationId": "TransaccionesMasivas",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestTransaccionesMasivasRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalTransaccionesMasivasResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/transaccionesMasivasORQ": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Realiza transacciones masivas orquestación",
                "description": "Realiza transacciones masivas orquestación",
                "operationId": "transaccionesMasivasORQ",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestTransaccionesMasivasORQRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalTransaccionesMasivasORQResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/solicitarChequeOrq": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Solicitar Cheque Orq",
                "description": "Solicitar un Cheque de Gerencia orquestación.",
                "operationId": "solicitarChequeOrq",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestSolicitarChequeOrqRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalSolicitarChequeOrqResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/servicioAlcancia": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Servicio Alcancía",
                "description": "Crear,  consultar y modificar el producto de alcancía.",
                "operationId": "servicioAlcancia",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestServicioAlcanciaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Operación de consulta o modificación.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalServicioAlcanciaResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "201": {
                        "description": "Operación de creación.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalServicioAlcanciaResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/sendNotification": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "sendNotification",
                "description": "Envio de notificaciones",
                "operationId": "sendNotification",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestSendNotificationRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalSendNotificationResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/secretSdk": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Consultar las credecnciales para consumir los servicios de ADOS",
                "description": "Consultar las credecnciales para consumir los servicios de ADOS",
                "operationId": "secretSdk",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestSecretSdkRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalSecretSdkResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/saldoCuentaATM": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "saldoCuentaAtm",
                "description": "saldoCuentaAtm",
                "operationId": "saldoCuentaATM",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestSaldoCuentaATMRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalSaldoCuentaATMResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/reversoCanales": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "reversoCanales",
                "description": "reversoCanales",
                "operationId": "reversoCanales",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestTransaccionReversoRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalTransaccionReversoResponseDTO"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/reversarTransaccion": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Reversar Transacción",
                "description": "Reversa pagos no amortizados, excepto los de recibos en oficinas.",
                "operationId": "reverseTransaction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestReversarTransaccionRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "400": {
                        "description": "Error en la solicitud",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalCommonBIANResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/retiroSinTarjeta": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "retiroSinTarjeta",
                "description": "retiroSinTarjeta",
                "operationId": "retiroSinTarjeta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestRetiroSinTarjetaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalretiroSinTarjetaResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/respuestaPrenotificacionACH": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "respuestaPrenotificacionACH",
                "description": "respuestaPrenotificacionACH",
                "operationId": "respuestaPrenotificacionACH",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestRespuestaPrenotificacionACHRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operacion Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalrespuestaPrenotificacionACHaResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/requestCheque": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "solicitar cheque",
                "description": "solicitar cheque",
                "operationId": "solicitarCheque",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestRequestChequeOperationData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalResponseRequestChequeDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/realizarPagoTC": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "RealizarPagoTC",
                "description": "Iniciar una operación de pago",
                "operationId": "initiationTransaction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestInitiatePaymentInitiationTransactionRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalInitiatePITResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/realizarPagoTCFacturacion": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "realizarPagoTCFacturacion",
                "description": "Iniciar una operación de pago",
                "operationId": "makeCreditCardPaymentInvoicing",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestPagoTCFacturacionRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalPagoTCFacturacionResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/policyterms/retrieve": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Consulta de autorización de términos y condiciones.",
                "description": "Consulta de autorización de términos y condiciones.",
                "operationId": "PolicyTermsRetrieve",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestPolicyTermsRetrieveRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Consulta éxitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/policyTerms/evaluate": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Autorizar terminos y condiciones",
                "description": "Autorizar terminos y condiciones",
                "operationId": "policyTerms",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestPolicyTermsRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Politicas autorizadas con exito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalPolicyTermsResponseDTO"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/pignoracionAlcanciaPrimeraVez": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "pignoracionAlcanciaPrimeraVez",
                "description": "Pignorar alcancía por primera vez",
                "operationId": "pignoracionAlcancia",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestPignoracionAlcanciaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalPignoracionAlcanciaResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/parametrosTrx": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Servicio que cosulta las parametrizaciones iniciales para los servicios Credito, Debito y Transferecias",
                "description": "Servicio que cosulta las parametrizaciones iniciales para los servicios Credito, Debito y Transferecias",
                "operationId": "ParametrosTrx",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestParametrosTrxRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalParametrosTrxResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/parametrizacionCanales": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Consulta parametrizacion de canales",
                "description": "Consulta parametrizacion de canales",
                "operationId": "parametrizacionCanales",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestParametrizacionCanalesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalParametrizacionCanalesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/pagarTCOrq": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Pagar TC Orq",
                "description": "Realizar el pago mínimo, pago total y otro monto de la tarjeta de crédito.",
                "operationId": "pagarTCOrq",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestPagarTCOrqRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalInfoTransactionResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/pagarEstadoCuentaOrq": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "consulta el detalle de los productos de Inversión CDT de un cliente",
                "description": "consultar el detalle de los productos de Inversión CDT de un cliente",
                "operationId": "pagarEstadoCuentaOrq",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestPagarEstadoCuentaOrqRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalPagarEstadoCuentaOrqResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/pagarEstadoCuentaCanales": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Pagar Estado Cuenta Corresponsal",
                "description": "Paga Estado Cuenta En Un Corresponsal",
                "operationId": "pagarEstadoCuentaCanales",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestPagarEstadoCuentaCorresponsalRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalPagarEstadoCuentaCorresponsalResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/pagarConvenioCorresponsal": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Pago de Convenio Corresponsal",
                "description": "Este endpoint permite realizar el pago de un convenio corresponsal y devuelve los detalles de la transacción.",
                "operationId": "pagarConvenioCorresponsal",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestPagarConvenioCorresponsalRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Operación exitosa. Devuelve los detalles de la transacción.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalPagarConvenioCorresponsalResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/notificacionMonitor": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Notificacion Monitor",
                "description": "Notificacion monitor por medio de msn e email",
                "operationId": "notificacionMonitor",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestNotificacionMonitorRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Validación exitosa en las listas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalNotificacionMonitorDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/modifyTrnBlocked": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Servicio que permite modificar datos de una trn bloqueada siempre y cuando se envien a excepcion del transactionLockedID",
                "description": "Servicio que permite modificar datos de una trn bloqueada siempre y cuando se envien a excepcion del transactionLockedID",
                "operationId": "modifyTrnBlocked",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestModifyTrnBlockedRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalModifyTrnBlockedResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/modificarControlMontosOV": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "consultarLogControlMontosOV",
                "description": "Consulta el log de control de montos según la información proporcionada.",
                "operationId": "modificarControlMontosOV",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestModificarControlMontosOVRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConsultarLogControlMontosOVResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la solicitud",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/matricularTercero": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Matrícula de Tercero",
                "description": "Servicio para matricular un tercero en el sistema.",
                "operationId": "matricularTercero",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestMatricularTerceroRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Matrícula realizada con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalMatricularTerceroResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/matricularTerceroORQ": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Matrícular TerceroORQ",
                "description": "Servicio para matricular un terceroORQ.",
                "operationId": "matricularTerceroORQ",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestMatricularTerceroORQRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Matrícula realizada con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalMatricularTerceroORQResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/inspektor": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Validar en listas de Inspektor",
                "description": "Valida a un cliente en listas restrictivas utilizando el servicio Inspektor",
                "operationId": "validarEnListas",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestNombreIdentificacionRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Validación exitosa en las listas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalValidarListasResponseDTO"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/insertIngresoCanales": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Insert Ingreso Canales",
                "description": "Insert Ingreso Canales.",
                "operationId": "insertIngresoCanales",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestInsertIngresoCanalesRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalCommonBIANResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/guardarDetalleBanco": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Guardar Detalle Banco",
                "description": "Servicio para guardar detalles del banco.",
                "operationId": "guardarDetalleBanco",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestGuardarDetalleBancoRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Guardado realizado con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalGuardarDetalleBancoResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/grabarTransaccionPSE": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "DualMessage",
                "description": "operaciones para grabar Transaccion PSE",
                "operationId": "grabarTransaccionPSE",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestGrabarTransaccionPSERequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalGrabarTransaccionPSEResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/grabarProductoEmpresa": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "grabarProductoEmpresa",
                "description": "Gabar Producto Empresa",
                "operationId": "grabarProductoEmpresa",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestGrabarProductoEmpresaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Operacion Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalGrabarProductoEmpresaResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/grabarProductoEmpresaORQ": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "grabarProductoEmpresaORQ",
                "description": "Gabar Producto Empresa ORQ",
                "operationId": "grabarProductoEmpresaORQ",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestGrabarProductoEmpresaRequestORQ"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "200": {
                        "description": "Operacion Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalGrabarProductoEmpresaResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/getTrnBlockedByFilter": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Servicio que permite obtener las transacciones bloqueadas bajo filtro",
                "description": "Servicio que permite obtener las transacciones bloqueadas bajo filtro",
                "operationId": "getTrnBlockedByFilter",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestGetTrnBlockedByFilterRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalGetTrnBlockedByFilterResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/generarCuponPago": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "generarCuponPago",
                "description": "Realiza la generacion del cupon de pago",
                "operationId": "generarCuponPago",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCuponRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalCuponResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mock/findById/retrieve": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Find by id",
                "description": "Find by id",
                "operationId": "findById",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestFindByIdRequestDTOFindByIdDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Busqueda realizada con exito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalFindByIdResponseDTO"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/enviosms": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "enviosms",
                "description": "Envios de de mensajes de texto",
                "operationId": "enviarSms",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestEnvioSmsRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/enviarCorreo": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "enviarCorreo",
                "description": "Envios de correos",
                "operationId": "enviarCorreo",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestEnvioCorreosRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/dualMessage": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "DualMessage",
                "description": "operaciones relacionadas con bloqueo, desbloqueo y cargo en firme",
                "operationId": "dualMessage",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestDualMessageRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Operación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalAumentoDualMessageResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/desmatricularTercero": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Desmatriculación de Tercero",
                "description": "Servicio para desmatricular un tercero en el sistema.",
                "operationId": "desmatricularTercero",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestDesmatricularTerceroRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Desmatriculación realizada con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalDesmatricularTerceroResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/desencriptarhclient": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "Desencriptar respuesta HClient",
                "description": "Desencriptar respuesta HClient",
                "operationId": "desencriptarRespuestaHClient",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestDesencriptarHClientInt"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Validación exitosa en las listas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalDesencriptarHClientOutDTO"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Sin procesar"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/v1/mock/debitarAlcancia": {
            "post": {
                "tags": [
                    "mock-controller"
                ],
                "summary": "debitarAlcancia",
                "description": "Realiza una pignoración de dinero por el concepto de alcancía",
                "operationId": "debitarAlcancia",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
[...]
