{
    "openapi": "3.0.1",
    "info": {
        "title": "interoperabilidad-buc",
        "description": "Proyecto de interoperabilidad BUC",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://mocks.coomeva.com",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/api/v1/buc/crearDatosFinancieros": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Crear datos financieros de un cliente",
                "operationId": "crearDatosFinancieros",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultaBucRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Se ha realizado la creacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalConsultarDatosAdicionalesResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/api/v1/buc/crearDatosBasicos": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Crear datos basicos de un cliente",
                "operationId": "crearDatosBasicos",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCrearDatosBasicosBucRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Se ha realizado la creacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalConsultarDatosBasicosResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/api/v1/buc/crearDatosAdicionales": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Crear datos adicionales de un cliente",
                "operationId": "crearDatosAdicionales",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultaBucRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Se ha realizado la creacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalConsultarDatosAdicionalesResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/api/v1/buc/consultarDatosFinancieros": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Consultar datos financieros de un cliente",
                "operationId": "consultarDatosFinancieros",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultaBucRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalConsultarDatosFinancierosResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/api/v1/buc/consultarDatosBasicos": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Consultar datos basicos de un cliente",
                "operationId": "consultarDatosBasicos",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultaBucRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalConsultarDatosBasicosResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/api/v1/buc/consultarDatosAdicionales": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Consultar datos adicionales de un cliente",
                "operationId": "consultarDatosAdicionales",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultaBucRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalConsultarDatosAdicionalesResponseDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/api/v1/health/ping": {
            "get": {
                "tags": [
                    "health-controller"
                ],
                "operationId": "ping",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CanonicalRequestConsultaBucRequestDTO": {
                "required": [
                    "deviceContext",
                    "header",
                    "metadata",
                    "operationData"
                ],
                "type": "object",
                "properties": {
                    "header": {
                        "$ref": "#/components/schemas/Header"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/Metadata"
                    },
                    "deviceContext": {
                        "$ref": "#/components/schemas/DeviceContext"
                    },
                    "operationData": {
                        "$ref": "#/components/schemas/ConsultaBucRequestDTO"
                    }
                },
                "description": "DTO que representa el canonical request"
            },
            "ClientApp": {
                "required": [
                    "appName",
                    "appVersion",
                    "userAgent"
                ],
                "type": "object",
                "properties": {
                    "appName": {
                        "type": "string",
                        "description": "Nombre de la aplicación",
                        "example": "Bancoomeva App"
                    },
                    "appVersion": {
                        "type": "string",
                        "description": "Versión de la aplicación",
                        "example": "1.0.0"
                    },
                    "userAgent": {
                        "type": "string",
                        "description": "UserAgent de la aplicación",
                        "example": "BancoomevaApp/1.0.0 (iOS 15.2)"
                    }
                },
                "description": "Información sobre la aplicación cliente"
            },
            "ConsultaBucRequestDTO": {
                "type": "object",
                "properties": {
                    "customerId": {
                        "type": "string",
                        "description": "Codigo del cliente",
                        "example": "8748378"
                    },
                    "documentType": {
                        "type": "string",
                        "description": "Tipo de identificación del cliente",
                        "example": "CC"
                    },
                    "documentNumber": {
                        "type": "string",
                        "description": "Número de identificación del cliente",
                        "example": "10058399283"
                    }
                },
                "description": "Objeto para la cunsulta de un cliente ya sea por su código o su identificación"
            },
            "DeviceContext": {
                "required": [
                    "clientApp",
                    "deviceId",
                    "deviceType",
                    "geoLocation",
                    "ipAddress",
                    "macAddress",
                    "osVersion"
                ],
                "type": "object",
                "properties": {
                    "deviceId": {
                        "type": "string",
                        "description": "Identificador único del dispositivo desde el cual se origina la solicitud",
                        "example": "device123"
                    },
                    "deviceType": {
                        "type": "string",
                        "description": "Tipo de dispositivo",
                        "example": "mobile"
                    },
                    "osVersion": {
                        "type": "string",
                        "description": "Versión del sistema operativo en el dispositivo",
                        "example": "iOS 15.2"
                    },
                    "ipAddress": {
                        "type": "string",
                        "description": "Dirección IP del dispositivo",
                        "example": "127.0.0.1"
                    },
                    "macAddress": {
                        "type": "string",
                        "description": "Dirección MAC del dispositivo",
                        "example": "00:1B:44:11:3A:B7"
                    },
                    "geoLocation": {
                        "$ref": "#/components/schemas/GeoLocation"
                    },
                    "clientApp": {
                        "$ref": "#/components/schemas/ClientApp"
                    }
                },
                "description": "Proporciona información sobre el dispositivo desde el cual se origina la solicitud"
            },
            "GeoLocation": {
                "required": [
                    "latitude",
                    "longitude"
                ],
                "type": "object",
                "properties": {
                    "latitude": {
                        "type": "string",
                        "description": "Latitud de geolocalización",
                        "example": "4.710989"
                    },
                    "longitude": {
                        "type": "string",
                        "description": "Longitud de geolocalización",
                        "example": "-74.072092"
                    }
                },
                "description": "Información de geolocalización"
            },
            "Header": {
                "required": [
                    "authToken",
                    "messageId",
                    "originatingBank",
                    "requestType",
                    "timestamp",
                    "transactionId"
                ],
                "type": "object",
                "properties": {
                    "messageId": {
                        "type": "string",
                        "description": "Identificador único del mensaje que permite rastrear la solicitud",
                        "example": "12345-abcde-67890-fghij"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Fecha y hora en que se generó la solicitud, en formato ISO8601",
                        "example": "2024-10-08T12:30:00"
                    },
                    "originatingBank": {
                        "type": "string",
                        "description": "Nombre del banco o entidad que origina la solicitud",
                        "example": "Bancoomeva"
                    },
                    "authToken": {
                        "type": "string",
                        "description": "Token de autenticación utilizado para validar la solicitud",
                        "example": "123456"
                    },
                    "callbackUrl": {
                        "type": "string",
                        "description": "URL a la que se enviará la respuesta una vez procesada la solicitud",
                        "example": "https://api.bancoomeva.com/callback"
                    },
                    "requestType": {
                        "type": "string",
                        "description": "Tipo de solicitud",
                        "example": "transfer"
                    },
                    "transactionId": {
                        "type": "string",
                        "description": "Identificador único de la transacción específica",
                        "example": "txn-001"
                    }
                },
                "description": "Contiene información esencial para identificar y autenticar la transacción"
            },
            "Metadata": {
                "required": [
                    "priority",
                    "processingMode",
                    "serviceLevelAgreement"
                ],
                "type": "object",
                "properties": {
                    "priority": {
                        "pattern": "high|medium|low",
                        "type": "string",
                        "description": "Nivel de prioridad de la solicitud",
                        "example": "high"
                    },
                    "serviceLevelAgreement": {
                        "type": "string",
                        "description": "Nivel de servicio que define el tiempo de respuesta esperado",
                        "example": "standard"
                    },
                    "processingMode": {
                        "pattern": "synchronous|asynchronous",
                        "type": "string",
                        "description": "Modo de procesamiento",
                        "example": "synchronous"
                    }
                },
                "description": "Define la prioridad, el nivel de servicio y el modo de procesamiento de la solicitud"
            },
            "CanonicalConsultarDatosAdicionalesResponseDTO": {
                "required": [
                    "message",
                    "messageId",
                    "operationData",
                    "path",
                    "status",
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "messageId": {
                        "type": "string",
                        "description": "Identificador único que enlaza la respuesta con la solicitud original",
                        "example": "12345-abcde-67890-fghij"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Marca de tiempo en que se genera la respuesta",
                        "example": "2024-10-08T12:30:00"
                    },
                    "status": {
                        "type": "string",
                        "description": "Estado de la operación",
                        "example": "Success"
                    },
                    "errors": {
                        "type": "array",
                        "description": "Lista de mensajes de error, en caso de que la solicitud no se haya procesado correctamente",
                        "example": [],
                        "items": {
                            "type": "string",
                            "description": "Lista de mensajes de error, en caso de que la solicitud no se haya procesado correctamente",
                            "example": "[]"
                        }
                    },
                    "errorType": {
                        "type": "string",
                        "description": "Clasificación del error",
                        "example": "validation"
                    },
                    "path": {
                        "type": "string",
                        "description": "Ruta o endpoint donde ocurrió el error",
                        "example": "/api/v1/orders"
                    },
                    "message": {
                        "type": "string",
                        "description": "Descripción general del resultado de la operación",
                        "example": "Request processed successfully"
                    },
                    "operationData": {
                        "$ref": "#/components/schemas/ConsultarDatosAdicionalesResponseDTO"
                    }
                }
            },
            "ConsultarDatosAdicionalesResponseDTO": {
                "required": [
                    "datosAdicionales",
                    "datosNegocio",
                    "participantes",
                    "referencias"
                ],
                "type": "object",
                "properties": {
                    "participantes": {
                        "$ref": "#/components/schemas/ParticipantesDTO"
                    },
                    "datosAdicionales": {
                        "$ref": "#/components/schemas/DatosAdicionalesDTO"
                    },
                    "referencias": {
                        "$ref": "#/components/schemas/ReferenciasDTO"
                    },
                    "datosNegocio": {
                        "$ref": "#/components/schemas/DatosNegocioDTO"
                    }
                },
                "description": "DTO que representa la respuesta de consulta de datos adicionales"
            },
            "DatosAdicionalesDTO": {
                "required": [
                    "actividadEconomicaLaEmpresaDondeTrabaja",
                    "autorizaRecibirInformacionATravesTextoACelular",
                    "departamentoExpedicion",
                    "envioCorrespondenciaReporteAnualComisionesRact",
                    "fechaCorteEstadoCuenta",
                    "lugarExpedicion",
                    "paisExpedicion",
                    "tipoEmpresaDondeTrabaja"
                ],
                "type": "object",
                "properties": {
                    "departamentoExpedicion": {
                        "type": "string",
                        "description": "Departamento de expedición",
                        "example": "natural"
                    },
                    "paisExpedicion": {
                        "type": "string",
                        "description": "País de expedición",
                        "example": "natural"
                    },
                    "actividadEconomicaLaEmpresaDondeTrabaja": {
                        "type": "string",
                        "description": "Actividad económica de la empresa",
                        "example": "natural"
                    },
                    "tipoEmpresaDondeTrabaja": {
                        "type": "string",
                        "description": "Tipo de empresa",
                        "example": "natural"
                    },
                    "lugarExpedicion": {
                        "type": "string",
                        "description": "Lugar de expedición",
                        "example": "natural"
                    },
                    "autorizaRecibirInformacionATravesTextoACelular": {
                        "type": "string",
                        "description": "Autoriza recibir información por mensaje de texto",
                        "example": "natural"
                    },
                    "fechaCorteEstadoCuenta": {
                        "type": "string",
                        "description": "Fecha de corte del estado de cuenta",
                        "example": "natural"
                    },
                    "envioCorrespondenciaReporteAnualComisionesRact": {
                        "type": "string",
                        "description": "Envío de reporte anual de comisiones",
                        "example": "natural"
                    }
                },
                "description": "DTO que representa los datos adicionales"
            },
            "DatosNegocioDTO": {
                "required": [
                    "actividadNegocio",
                    "diasAtencion",
                    "direccion",
                    "direccionNegocioIgualAlDomicilioPersonal",
                    "horaFin",
                    "horaInicio",
                    "inicioActividades",
                    "nombreEstablecimiento",
                    "numeroEmpleados",
                    "numeroIdentificacionTributaria",
                    "queActividad",
                    "quienAtiendeElNegocio",
                    "tiempoDesempenandoLaActividadAnos",
                    "tiempoExperienciaEmpresarial",
                    "tipoEstablecimiento",
                    "tipoIdentificacionTributaria"
                ],
                "type": "object",
                "properties": {
                    "nombreEstablecimiento": {
                        "type": "string",
                        "description": "Nombre del establecimiento",
                        "example": "Restaurante La Delicia"
                    },
                    "tipoIdentificacionTributaria": {
                        "type": "string",
                        "description": "Tipo de identificación tributaria",
                        "example": "NIT"
                    },
                    "numeroIdentificacionTributaria": {
                        "type": "string",
                        "description": "Número de identificación tributaria",
                        "example": "900123456"
                    },
                    "queActividad": {
                        "type": "string",
                        "description": "Actividad del negocio",
                        "example": "Gastronomía"
                    },
                    "direccionNegocioIgualAlDomicilioPersonal": {
                        "type": "string",
                        "description": "Dirección del negocio igual al domicilio personal",
                        "example": "No"
                    },
                    "direccion": {
                        "type": "string",
                        "description": "Dirección del negocio",
                        "example": "Calle 123, Ciudad"
                    },
                    "tiempoDesempenandoLaActividadAnos": {
                        "type": "string",
                        "description": "Tiempo desempeñando la actividad en años",
                        "example": "5"
                    },
                    "tipoEstablecimiento": {
                        "type": "string",
                        "description": "Tipo de establecimiento",
                        "example": "Fijo"
                    },
                    "diasAtencion": {
                        "type": "string",
                        "description": "Días de atención",
                        "example": "Lunes a Viernes"
                    },
                    "horaInicio": {
                        "type": "string",
                        "description": "Hora de inicio",
                        "example": "08:00"
                    },
                    "horaFin": {
                        "type": "string",
                        "description": "Hora de fin",
                        "example": "18:00"
                    },
                    "quienAtiendeElNegocio": {
                        "type": "string",
                        "description": "Quien atiende el negocio",
                        "example": "Propietario"
                    },
                    "numeroEmpleados": {
                        "type": "string",
                        "description": "Número de empleados",
                        "example": "10"
                    },
                    "inicioActividades": {
                        "type": "string",
                        "description": "Fecha de inicio de actividades",
                        "example": "2018-01-01"
                    },
                    "tiempoExperienciaEmpresarial": {
                        "type": "string",
                        "description": "Tiempo de experiencia empresarial",
                        "example": "10 años"
                    },
                    "actividadNegocio": {
                        "type": "string",
                        "description": "Actividad del negocio",
                        "example": "Restaurante"
                    }
                },
                "description": "DTO que representa los datos del negocio"
            },
            "ParticipantesDTO": {
                "required": [
                    "atributoLaRelacion",
                    "mensajeLaRelacion",
                    "prospectoRelacionado",
                    "tipoRelacion",
                    "valorAtributo"
                ],
                "type": "object",
                "properties": {
                    "tipoRelacion": {
                        "type": "string",
                        "description": "Tipo de relación",
                        "example": "juridica"
                    },
                    "prospectoRelacionado": {
                        "type": "string",
                        "description": "Prospecto relacionado",
                        "example": "juridica"
                    },
                    "mensajeLaRelacion": {
                        "type": "string",
                        "description": "Mensaje de la relación",
                        "example": "juridica"
                    },
                    "atributoLaRelacion": {
                        "type": "string",
                        "description": "Atributo de la relación",
                        "example": "juridica"
                    },
                    "valorAtributo": {
                        "type": "string",
                        "description": "Valor del atributo",
                        "example": "juridica"
                    }
                },
                "description": "DTO que representa los participantes"
            },
            "ReferenciaFamiliarDTO": {
                "required": [
                    "cargo",
                    "fechaFin",
                    "fechaInicio",
                    "funcion",
                    "nombre",
                    "nombreLaInstitucion",
                    "numeroIdentificacion",
                    "parentesco",
                    "pepReferencia",
                    "prefijo",
                    "primerApellido",
                    "segundoApellido",
                    "telefono",
                    "tipoContacto",
                    "tipoIdentificacion",
                    "tipoTelefono",
                    "ultimaFechaActualizacion"
                ],
                "type": "object",
                "properties": {
                    "nombre": {
                        "type": "string",
                        "description": "Nombre",
                        "example": "natural"
                    },
                    "primerApellido": {
                        "type": "string",
                        "description": "Primer apellido",
                        "example": "natural"
                    },
                    "segundoApellido": {
                        "type": "string",
                        "description": "Segundo apellido",
                        "example": "natural"
                    },
                    "parentesco": {
                        "type": "string",
                        "description": "Parentesco",
                        "example": "natural"
                    },
                    "telefono": {
                        "type": "string",
                        "description": "Teléfono",
                        "example": "natural"
                    },
                    "tipoIdentificacion": {
                        "type": "string",
                        "description": "Tipo de identificación",
                        "example": "natural"
                    },
                    "numeroIdentificacion": {
                        "type": "string",
                        "description": "Número de identificación",
                        "example": "natural"
                    },
                    "tipoContacto": {
                        "type": "string",
                        "description": "Tipo de contacto",
                        "example": "natural"
                    },
                    "tipoTelefono": {
                        "type": "string",
                        "description": "Tipo de teléfono",
                        "example": "natural"
                    },
                    "prefijo": {
                        "type": "string",
                        "description": "Prefijo",
                        "example": "natural"
                    },
                    "pepReferencia": {
                        "type": "string",
                        "description": "PEP referencia",
                        "example": "natural"
                    },
                    "funcion": {
                        "type": "string",
                        "description": "Función",
                        "example": "natural"
                    },
                    "nombreLaInstitucion": {
                        "type": "string",
                        "description": "Nombre de la institución",
                        "example": "natural"
                    },
                    "cargo": {
                        "type": "string",
                        "description": "Cargo",
                        "example": "natural"
                    },
                    "fechaInicio": {
                        "type": "string",
                        "description": "Fecha de inicio",
                        "example": "natural"
                    },
                    "fechaFin": {
                        "type": "string",
                        "description": "Fecha de fin",
                        "example": "natural"
                    },
                    "ultimaFechaActualizacion": {
                        "type": "string",
                        "description": "Última fecha de actualización",
                        "example": "natural"
                    }
                },
                "description": "DTO que representa una referencia familiar"
            },
            "ReferenciaLaboralDTO": {
                "required": [
                    "cargoActual",
                    "correo",
                    "existeCompania",
                    "fechaIngreso",
                    "fechaSalida",
                    "moneda",
                    "nombreLaEmpresa",
                    "relacionDependenciaLaboral",
                    "rol",
                    "sueldo",
                    "tiempoEnLaActividad",
                    "tipoContrato",
                    "vinculo"
                ],
                "type": "object",
                "properties": {
                    "nombreLaEmpresa": {
                        "type": "string",
                        "description": "Nombre de la empresa",
                        "example": "Empresa ABC"
                    },
                    "fechaIngreso": {
                        "type": "string",
                        "description": "Fecha de ingreso",
                        "example": "2019-05-01"
                    },
                    "fechaSalida": {
                        "type": "string",
                        "description": "Fecha de salida",
                        "example": "2021-07-01"
                    },
                    "tipoContrato": {
                        "type": "string",
                        "description": "Tipo de contrato",
                        "example": "Indefinido"
                    },
                    "cargoActual": {
                        "type": "string",
                        "description": "Cargo actual",
                        "example": "Desarrollador"
                    },
                    "rol": {
                        "type": "string",
                        "description": "Rol desempeñado",
                        "example": "Backend Developer"
                    },
                    "relacionDependenciaLaboral": {
                        "type": "string",
                        "description": "Relación de dependencia laboral",
                        "example": "Empleado"
                    },
                    "moneda": {
                        "type": "string",
                        "description": "Moneda del sueldo",
                        "example": "COP"
                    },
                    "sueldo": {
                        "type": "string",
                        "description": "Sueldo",
                        "example": "3000.0"
                    },
                    "tiempoEnLaActividad": {
                        "type": "string",
                        "description": "Tiempo en la actividad",
                        "example": "2 años"
                    },
                    "existeCompania": {
                        "type": "string",
                        "description": "Existencia de la compañía",
                        "example": "Sí"
                    },
                    "correo": {
                        "type": "string",
                        "description": "Correo electrónico",
                        "example": "contacto@empresaabc.com"
                    },
                    "vinculo": {
                        "type": "string",
                        "description": "Vínculo con la empresa",
                        "example": "Directo"
                    }
                },
                "description": "DTO que representa una referencia laboral"
            },
            "ReferenciaPersonalDTO": {
                "required": [
                    "cargo",
                    "fechaFin",
                    "fechaInicio",
                    "funcion",
                    "nombre",
                    "nombreLaInstitucion",
                    "numeroIdentificacion",
                    "parentesco",
                    "pepReferencia",
                    "prefijo",
                    "primerApellido",
                    "segundoApellido",
                    "telefono",
                    "tipoContacto",
                    "tipoIdentificacion",
                    "tipoTelefono",
                    "ultimaFechaActualizacion"
                ],
                "type": "object",
                "properties": {
                    "nombre": {
                        "type": "string",
                        "description": "Nombre",
                        "example": "Juan"
                    },
                    "primerApellido": {
                        "type": "string",
                        "description": "Primer apellido",
                        "example": "Perez"
                    },
                    "segundoApellido": {
                        "type": "string",
                        "description": "Segundo apellido",
                        "example": "Gomez"
                    },
                    "parentesco": {
                        "type": "string",
                        "description": "Parentesco",
                        "example": "Hermano"
                    },
                    "telefono": {
                        "type": "string",
                        "description": "Teléfono",
                        "example": "+571234567890"
                    },
                    "tipoIdentificacion": {
                        "type": "string",
                        "description": "Tipo de identificación",
                        "example": "CC"
                    },
                    "numeroIdentificacion": {
                        "type": "string",
                        "description": "Número de identificación",
                        "example": "1234567890"
                    },
                    "tipoContacto": {
                        "type": "string",
                        "description": "Tipo de contacto",
                        "example": "Móvil"
                    },
                    "tipoTelefono": {
                        "type": "string",
                        "description": "Tipo de teléfono",
                        "example": "Celular"
                    },
                    "prefijo": {
                        "type": "string",
                        "description": "Prefijo telefónico",
                        "example": "+57"
                    },
                    "pepReferencia": {
                        "type": "string",
                        "description": "PEP referencia",
                        "example": "No"
                    },
                    "funcion": {
                        "type": "string",
                        "description": "Función de la referencia",
                        "example": "Asistente"
                    },
                    "nombreLaInstitucion": {
                        "type": "string",
                        "description": "Nombre de la institución",
                        "example": "Empresa XYZ"
                    },
                    "cargo": {
                        "type": "string",
                        "description": "Cargo en la institución",
                        "example": "Gerente"
                    },
                    "fechaInicio": {
                        "type": "string",
                        "description": "Fecha de inicio",
                        "example": "2020-01-01"
                    },
                    "fechaFin": {
                        "type": "string",
                        "description": "Fecha de fin",
                        "example": "2023-01-01"
                    },
                    "ultimaFechaActualizacion": {
                        "type": "string",
                        "description": "Última fecha de actualización",
                        "example": "2023-10-01"
                    }
                },
                "description": "DTO que representa una referencia personal"
            },
            "ReferenciasDTO": {
                "required": [
                    "referenciaFamiliar",
                    "referenciaLaborales",
                    "referenciaPersonal"
                ],
                "type": "object",
                "properties": {
                    "referenciaFamiliar": {
                        "type": "array",
                        "description": "Lista de referencias familiares",
                        "items": {
                            "$ref": "#/components/schemas/ReferenciaFamiliarDTO"
                        }
                    },
                    "referenciaPersonal": {
                        "type": "array",
                        "description": "Lista de referencias personales",
                        "items": {
                            "$ref": "#/components/schemas/ReferenciaPersonalDTO"
                        }
                    },
                    "referenciaLaborales": {
                        "type": "array",
                        "description": "Lista de referencias laborales",
                        "items": {
                            "$ref": "#/components/schemas/ReferenciaLaboralDTO"
                        }
                    }
                },
                "description": "DTO que representa las referencias"
            },
            "ActivityDTO": {
                "title": "ActivityDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la actividad",
                        "example": "40"
                    }
                },
                "description": "Objeto de actividad"
            },
            "AddressDTO": {
                "title": "AddressDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Code of the address",
                        "format": "int32"
                    },
                    "address": {
                        "type": "string",
                        "description": "Address"
                    },
                    "city": {
                        "$ref": "#/components/schemas/CityDTO"
                    },
                    "type": {
                        "$ref": "#/components/schemas/TypeDTO"
                    },
                    "creationDate": {
                        "type": "string",
                        "description": "Creation date of the address",
                        "format": "date-time"
                    },
                    "valid": {
                        "type": "boolean",
                        "description": "Validity of the address"
                    },
                    "verified": {
                        "type": "boolean",
                        "description": "Verification status of the address"
                    },
                    "userRegistration": {
                        "$ref": "#/components/schemas/UserRegistrationDTO"
                    },
                    "primaryAddress": {
                        "type": "boolean",
                        "description": "Primary address indicator"
                    },
                    "neighborhood": {
                        "type": "string",
                        "description": "Neighborhood of the address"
                    },
                    "province": {
                        "$ref": "#/components/schemas/ProvinceDTO"
                    },
                    "country": {
                        "$ref": "#/components/schemas/CountryDTO"
                    },
                    "propertyType": {
                        "$ref": "#/components/schemas/PropertyTypeDTO"
                    },
                    "homeType": {
                        "$ref": "#/components/schemas/HomeTypeDTO"
                    },
                    "street": {
                        "type": "string",
                        "description": "Street of the address"
                    },
                    "timeInCurrentResidence": {
                        "type": "integer",
                        "description": "Time in current residence",
                        "format": "int32"
                    },
                    "numberOfPeopleLivingInResidence": {
                        "type": "integer",
                        "description": "Number of people living in residence",
                        "format": "int32"
                    },
                    "internalNumber": {
                        "type": "integer",
                        "description": "Internal number of the address",
                        "format": "int32"
                    },
                    "directions": {
                        "type": "string",
                        "description": "Directions to the address"
                    },
                    "propertyGroupName": {
                        "type": "string",
                        "description": "Property group name"
                    },
                    "unitHomeType": {
                        "$ref": "#/components/schemas/UnitHomeTypeDTO"
                    },
                    "geolocalization": {
                        "$ref": "#/components/schemas/GeolocalizationDTO"
                    },
                    "houseNumber": {
                        "type": "string",
                        "description": "House number"
                    },
                    "outerState": {
                        "type": "string",
                        "description": "Outer state"
                    },
                    "outerCity": {
                        "type": "string",
                        "description": "Outer city"
                    },
                    "floor": {
                        "type": "string",
                        "description": "Floor of the address"
                    },
                    "actualCreationDate": {
                        "type": "string",
                        "description": "Actual creation date of the address",
                        "format": "date-time"
                    },
                    "lastUpdateDate": {
                        "type": "string",
                        "description": "Last update date of the address",
                        "format": "date-time"
                    },
                    "actualLastUpdateDate": {
                        "type": "string",
                        "description": "Actual last update date of the address",
                        "format": "date-time"
                    },
                    "userUpdated": {
                        "$ref": "#/components/schemas/UserUpdatedDTO"
                    },
                    "mainStreetType": {
                        "$ref": "#/components/schemas/MainStreetTypeDTO"
                    },
                    "secondaryStreetType": {
                        "$ref": "#/components/schemas/SecondaryStreetTypeDTO"
                    },
                    "mainStreetNumber": {
                        "type": "integer",
                        "description": "Main street number",
                        "format": "int32"
                    },
                    "secondaryStreetNumber": {
                        "type": "integer",
                        "description": "Secondary street number",
                        "format": "int32"
                    },
                    "secondaryStreet": {
                        "type": "string",
                        "description": "Secondary street"
                    },
                    "mainStreetLetter": {
                        "$ref": "#/components/schemas/MainStreetLetterDTO"
                    },
                    "secondaryStreetLetter": {
                        "$ref": "#/components/schemas/SecondaryStreetLetterDTO"
                    },
                    "secondaryRegion": {
                        "$ref": "#/components/schemas/SecondaryRegionDTO"
                    },
                    "propertyNumber": {
                        "type": "string",
                        "description": "Property number"
                    },
                    "propertyGroup": {
                        "$ref": "#/components/schemas/PropertyGroupDTO"
                    },
                    "unitLetter": {
                        "type": "string",
                        "description": "Unit letter"
                    },
                    "interiorLetter": {
                        "type": "string",
                        "description": "Interior letter"
                    }
                },
                "description": "Objeto interno de la respuesta del Cobis Address"
            },
            "AddressNPDTO": {
                "type": "object",
                "properties": {
                    "address": {
                        "type": "string",
                        "description": "Dirección completa de la persona natural",
                        "example": "123 Main St"
                    },
                    "subdivision": {
                        "$ref": "#/components/schemas/SubdivisionDTO"
                    },
                    "city": {
                        "$ref": "#/components/schemas/CityDTO"
                    },
                    "type": {
                        "$ref": "#/components/schemas/TypeDTO"
                    },
                    "region": {
                        "$ref": "#/components/schemas/RegionDTO"
                    },
                    "zone": {
                        "$ref": "#/components/schemas/ZoneDTO"
                    },
                    "branch": {
                        "$ref": "#/components/schemas/BranchDTO"
                    },
                    "valid": {
                        "type": "boolean",
                        "description": "Indica si la dirección es válida",
                        "example": true
                    },
                    "verified": {
                        "type": "boolean",
                        "description": "Indica si la dirección ha sido verificada",
                        "example": true
                    },
                    "user": {
                        "$ref": "#/components/schemas/UserRegistrationDTO"
                    },
                    "primaryAddress": {
                        "type": "boolean",
                        "description": "Indica si es la dirección principal",
                        "example": true
                    },
                    "neighborhood": {
                        "type": "string",
                        "description": "Nombre del barrio o vecindario de la dirección",
                        "example": "Downtown"
                    },
                    "province": {
                        "$ref": "#/components/schemas/ProvinceDTO"
                    },
                    "zipCode": {
                        "$ref": "#/components/schemas/ZipCodeDTO"
                    },
                    "street": {
                        "type": "string",
                        "description": "Nombre de la calle de la dirección",
                        "example": "Oak Street"
                    },
                    "externalNumber": {
                        "type": "integer",
                        "description": "Número exterior de la dirección",
                        "format": "int32",
                        "example": 456
                    },
                    "internalNumber": {
                        "type": "integer",
                        "description": "Número interior de la dirección, si aplica",
                        "format": "int32",
                        "example": 12
                    }
                },
                "description": "DTO que representa la dirección de una persona natural"
            },
            "BranchDTO": {
                "title": "BranchDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Código de la sucursal",
                        "format": "int32",
                        "example": 40
                    }
                },
                "description": "Objeto de sucursal"
            },
            "CanonicalRequestCrearDatosBasicosBucRequestDTO": {
                "required": [
                    "deviceContext",
                    "header",
                    "metadata",
                    "operationData"
                ],
                "type": "object",
                "properties": {
                    "header": {
                        "$ref": "#/components/schemas/Header"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/Metadata"
                    },
                    "deviceContext": {
                        "$ref": "#/components/schemas/DeviceContext"
                    },
                    "operationData": {
                        "$ref": "#/components/schemas/CrearDatosBasicosBucRequestDTO"
                    }
                },
                "description": "DTO que representa el canonical request"
            },
            "CityDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Codigo de la ciudad",
                        "format": "int32",
                        "example": 1
                    }
                },
                "description": "Codigo de la ciudad"
            },
            "ContactTypeDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "code",
                        "example": "CT001"
                    }
                },
                "description": "DTO que representa el tipo de contacto"
            },
            "ContractTypeDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "code",
                        "example": "CN001"
                    }
                },
                "description": "DTO que representa el tipo de contrato"
            },
            "CountryDTO": {
                "title": "CountryDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Codigo",
                        "format": "int32",
                        "example": 1
                    }
                },
                "description": "Objeto del codigo del pais"
            },
            "CrearDatosBasicosBucRequestDTO": {
                "type": "object",
                "properties": {
                    "customerId": {
                        "type": "string",
                        "description": "ID del cliente",
                        "example": "12345"
                    },
                    "documentType": {
                        "type": "string",
                        "description": "Tipo de documento del cliente",
                        "example": "CC"
                    },
                    "documentNumber": {
                        "type": "string",
                        "description": "Número de documento del cliente",
                        "example": "123456789"
                    },
                    "naturalPerson": {
                        "$ref": "#/components/schemas/NaturalPersonDTO"
                    },
                    "customerRelationship": {
                        "$ref": "#/components/schemas/CustomerRelationshipDTO"
                    },
                    "address": {
                        "$ref": "#/components/schemas/AddressDTO"
                    },
                    "virtualAddress": {
                        "$ref": "#/components/schemas/VirtualAddressDTO"
                    },
                    "phone": {
                        "$ref": "#/components/schemas/PhoneDTO"
                    },
                    "taxResidenceCountry": {
                        "$ref": "#/components/schemas/TaxResidenceCountryDTO"
                    }
                },
                "description": "Incluye los datos específicos de la operación que se está solicitando"
            },
            "CustomerRelationshipDTO": {
                "type": "object",
                "properties": {
                    "relationship": {
                        "$ref": "#/components/schemas/RelationshipDTO"
                    },
                    "customerRightSide": {
                        "$ref": "#/components/schemas/CustomerRightSideDTO"
                    },
                    "side": {
                        "type": "string",
                        "description": "side",
                        "example": "Left"
                    }
                },
                "description": "DTO que representa la relación del cliente"
            },
            "CustomerRightSideDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "code",
                        "format": "int32",
                        "example": 123
                    },
                    "fullName": {
                        "type": "string",
                        "description": "fullName",
                        "example": "John Doe"
                    }
                },
                "description": "DTO que representa el lado derecho del cliente en una relación"
            },
            "CustomerServiceLineDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "code",
                        "example": "CSL001"
                    }
                },
                "description": "DTO que representa la línea de atención al cliente"
            },
            "DegreeLevelDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código del nivel de formación académica",
                        "example": "1"
                    }
                },
                "description": "Nivel de formación académica"
            },
            "DisabilityTypeDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Codigo de la discapacidad",
                        "example": "1"
                    }
                },
                "description": "Tipo de discapacidad"
            },
            "GenderDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Codigo del genero",
                        "example": "M"
                    }
                },
                "description": "Objeto del genero"
            },
            "GeographicCoverageDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la cobertura geográfica",
                        "example": "1"
                    }
                },
                "description": "Objeto que representa la cobertura geográfica de una persona natural"
            },
            "GeolocalizationDTO": {
                "title": "GeolocalizationDTO",
                "type": "object",
                "properties": {
                    "latitude": {
                        "type": "number",
                        "description": "Latitud de la dirección",
                        "example": 4.710989
                    },
                    "longitude": {
                        "type": "number",
                        "description": "Longitud de la dirección",
                        "example": -74.072092
                    }
                },
                "description": "Objeto de la geolocalización de la dirección"
            },
            "HomeTypeDTO": {
                "title": "HomeTypeDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código del tipo de hogar",
                        "example": "1"
                    }
                },
                "description": "Objeto tipo de hogar"
            },
            "IdentificationDTO": {
                "type": "object",
                "properties": {
                    "number": {
                        "type": "string",
                        "description": "Número de identificación",
                        "example": "1234567890"
                    },
                    "type": {
                        "$ref": "#/components/schemas/TypeDTO"
                    }
                },
                "description": "Información de identificación de una persona natural"
            },
            "IncomeSourceDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la fuente de ingresos",
                        "example": "1"
                    }
                },
                "description": "Fuente de ingresos"
            },
            "KnowFinancialInstitutionDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la entidad financiera",
                        "example": "PAGMOVIL"
                    }
                },
                "description": "Conocimiento de la entidad financiera"
            },
            "MainStreetLetterDTO": {
                "title": "MainStreetLetterDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la letra de la calle principal",
                        "example": "A"
                    }
                },
                "description": "Letra de la calle principal"
            },
            "MainStreetTypeDTO": {
                "title": "MainStreetTypeDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código del tipo de la calle principal",
                        "example": "AC"
                    }
                },
                "description": "Objeto tipo de la calle principal"
            },
            "MaritalStatusDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código del estado marital",
                        "example": "S"
                    }
                },
                "description": "Objeto estado marital"
            },
            "MessagingTypeDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "code",
                        "example": "MT001"
                    }
                },
                "description": "DTO que representa el tipo de mensajería"
            },
            "NationalityDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Código de la nacionalidad",
                        "format": "int32",
                        "example": 43
                    }
                },
                "description": "Nacionalidad"
            },
            "NaturalPersonDTO": {
                "title": "NaturalPersonDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Código de la persona natural",
                        "format": "int32",
                        "example": 123456789
                    },
                    "identification": {
                        "$ref": "#/components/schemas/IdentificationDTO"
                    },
                    "name": {
                        "type": "string",
                        "description": "Nombre de la persona natural",
                        "example": "Miguel"
                    },
                    "otherName": {
                        "type": "string",
                        "description": "Segundo nombre de la persona natural",
                        "example": "Carlos"
                    },
                    "lastName": {
                        "type": "string",
                        "description": "Primer apellido de la persona natural",
                        "example": "González"
                    },
                    "otherLastName": {
                        "type": "string",
                        "description": "Segundo apellido de la persona natural",
                        "example": "Lopez"
                    },
                    "status": {
                        "$ref": "#/components/schemas/StatusDTO"
                    },
                    "subsidiary": {
                        "$ref": "#/components/schemas/SubsidiaryDTO"
                    },
                    "branch": {
                        "$ref": "#/components/schemas/BranchDTO"
                    },
                    "enrollmentDate": {
                        "type": "string",
                        "description": "Fecha de inscripción de la persona natural",
                        "format": "date",
                        "example": "2012-07-01"
                    },
                    "lastUpdateDate": {
                        "type": "string",
                        "description": "Fecha de última actualización de la persona natural",
                        "format": "date",
                        "example": "2012-07-01"
                    },
                    "officer": {
                        "$ref": "#/components/schemas/OfficerDTO"
                    },
                    "activity": {
                        "$ref": "#/components/schemas/ActivityDTO"
                    },
                    "retention": {
                        "type": "boolean",
                        "description": "Retención de la persona natural",
                        "example": true
                    },
                    "hasInhibitoryReference": {
                        "type": "boolean",
                        "description": "Tiene referencia inhibitoria",
                        "example": true
                    },
                    "comment": {
                        "type": "string",
                        "description": "Comentario de la persona natural",
                        "example": "PRUEBA COMENTARIO"
                    },
                    "officerReference": {
                        "$ref": "#/components/schemas/OfficerReferenceDTO"
                    },
                    "sex": {
                        "$ref": "#/components/schemas/SexDTO"
                    },
                    "gender": {
                        "$ref": "#/components/schemas/GenderDTO"
                    },
                    "birthDate": {
                        "type": "string",
                        "description": "Fecha de nacimiento de la persona natural",
                        "format": "date",
                        "example": "1990-07-01"
                    },
                    "profession": {
                        "$ref": "#/components/schemas/ProfessionDTO"
                    },
                    "occupation": {
                        "$ref": "#/components/schemas/OccupationDTO"
                    },
                    "maritalStatus": {
                        "$ref": "#/components/schemas/MaritalStatusDTO"
                    },
                    "dependants": {
                        "type": "integer",
                        "description": "Número de dependientes de la persona natural",
                        "format": "int32",
                        "example": 2
                    },
                    "degreeLevel": {
                        "$ref": "#/components/schemas/DegreeLevelDTO"
                    },
                    "relationship": {
                        "type": "boolean",
                        "description": "Relación de la persona natutral",
                        "example": true
                    },
                    "currentOperationsWithFinancialEntity": {
                        "type": "boolean",
                        "description": "Operaciones actuales con entidad financiera",
                        "example": true
                    },
                    "nationality": {
                        "$ref": "#/components/schemas/NationalityDTO"
                    },
                    "incomeSource": {
                        "$ref": "#/components/schemas/IncomeSourceDTO"
                    },
                    "othersIncomeSource": {
                        "$ref": "#/components/schemas/OthersIncomeSourceDTO"
                    },
                    "pepSituation": {
                        "$ref": "#/components/schemas/PepSituationDTO"
                    },
                    "countryBirth": {
                        "$ref": "#/components/schemas/CountryDTO"
                    },
                    "provinceBirth": {
                        "$ref": "#/components/schemas/ProvinceDTO"
                    },
                    "secondCountry": {
                        "$ref": "#/components/schemas/CountryDTO"
                    },
                    "thirdCountry": {
                        "$ref": "#/components/schemas/CountryDTO"
                    },
                    "deathDate": {
                        "type": "string",
                        "description": "Fecha de fallecimiento de la persona natural",
                        "format": "date",
                        "example": "2021-07-01"
                    },
                    "knowFinancialInstitution": {
                        "$ref": "#/components/schemas/KnowFinancialInstitutionDTO"
                    },
                    "incomeAmount": {
                        "type": "string",
                        "description": "Monto de ingresos de la persona natural",
                        "example": "34000.0"
                    },
                    "othersIncomeAmount": {
                        "type": "string",
                        "description": "Monto de otras fuentes de ingresos de la persona natural",
                        "example": "490000.0"
                    },
                    "legalIncome": {
                        "type": "boolean",
                        "description": "Ingreso legal",
                        "example": true
                    },
                    "legalActivity": {
                        "type": "boolean",
                        "description": "Actividad legal",
                        "example": true
                    },
                    "contractGovernment": {
                        "type": "boolean",
                        "description": "Contrato con el gobierno",
                        "example": true
                    },
                    "transactionalProfile": {
                        "$ref": "#/components/schemas/TransactionalProfileDTO"
                    },
                    "segment": {
                        "$ref": "#/components/schemas/SegmentDTO"
                    },
                    "fatca": {
                        "type": "boolean",
                        "description": "FATCA",
                        "example": true
                    },
                    "crs": {
                        "type": "boolean",
                        "description": "CRS",
                        "example": true
                    },
                    "cannabisFree": {
                        "type": "boolean",
                        "description": "Libre de cannabis",
                        "example": true
                    },
                    "cryptocurrency": {
                        "type": "boolean",
                        "description": "Criptomoneda",
                        "example": true
                    },
                    "geographicCoverage": {
                        "$ref": "#/components/schemas/GeographicCoverageDTO"
                    },
                    "taxSituation": {
                        "$ref": "#/components/schemas/TaxSituationDTO"
                    },
                    "pepDetail": {
                        "$ref": "#/components/schemas/PepDetailDTO"
                    },
                    "pepRelation": {
                        "type": "boolean",
                        "description": "Relación PEP",
                        "example": true
                    },
                    "paysTaxesLocalCountry": {
                        "type": "boolean",
                        "description": "Paga impuestos en el país local",
                        "example": true
                    },
                    "disabilityType": {
                        "$ref": "#/components/schemas/DisabilityTypeDTO"
                    },
                    "actualLastMaintenanceDate": {
                        "type": "string",
                        "description": "Fecha de la última mantención real de la persona natural",
                        "format": "date",
                        "example": "2024-10-15"
                    },
                    "virtualAddresses": {
                        "$ref": "#/components/schemas/VirtualAddressesDTO"
                    },
                    "addresses": {
                        "$ref": "#/components/schemas/AddressNPDTO"
                    },
                    "phones": {
                        "$ref": "#/components/schemas/PhoneNPDTO"
                    },
                    "segmentAmount": {
                        "type": "integer",
                        "description": "Cantidad en el segmento de la persona natural",
                        "format": "int32",
                        "example": 50000
                    },
                    "segmentDate": {
                        "type": "string",
                        "description": "Fecha del segmento de la persona natural",
                        "format": "date-time"
                    },
                    "secondSegment": {
                        "$ref": "#/components/schemas/SegmentDTO"
                    },
                    "thirdSegment": {
                        "$ref": "#/components/schemas/SegmentDTO"
                    },
                    "relationshipWithBankType": {
                        "$ref": "#/components/schemas/RelationshipWithBankTypeDTO"
                    },
                    "tutor": {
                        "type": "integer",
                        "description": "Identificador del tutor de la persona natural",
                        "format": "int32",
                        "example": 789654
                    },
                    "tutorName": {
                        "type": "string",
                        "description": "Nombre del tutor de la persona natural",
                        "example": "Juan Perez"
                    }
                },
                "description": "Información de una persona natural"
            },
            "OccupationDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de ocupación",
                        "example": "AM"
                    }
                },
                "description": "Objeto de cupación"
            },
            "OfficerDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Código del oficial",
                        "format": "int32",
                        "example": 3
                    }
                },
                "description": "Objeto oficial"
            },
            "OfficerReferenceDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Código del oficial de referencia",
                        "format": "int32",
                        "example": 6
                    }
                },
                "description": "Objeto para el oficial de referencia"
            },
            "OthersIncomeSourceDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la fuente de ingresos",
                        "example": "10"
                    }
                },
                "description": "Objeto fuente de ingresos de otros"
            },
            "PepDetailDTO": {
                "type": "object",
                "properties": {
                    "typePEP": {
                        "$ref": "#/components/schemas/TypePepDTO"
                    }
                },
                "description": "Información de la persona expuesta políticamente"
            },
            "PepSituationDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la situación de la persona expuesta políticamente (PEP)",
                        "example": "6"
                    }
                },
                "description": "Información de la situación de la persona expuesta políticamente (PEP)"
            },
            "PhoneDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "code",
                        "format": "int32",
                        "example": 123
                    },
                    "number": {
                        "type": "string",
                        "description": "number",
                        "example": "+1234567890"
                    },
                    "type": {
                        "$ref": "#/components/schemas/TypeDTO"
                    },
                    "prefix": {
                        "$ref": "#/components/schemas/PrefixDTO"
                    },
                    "creationDate": {
                        "type": "string",
                        "description": "creationDate",
                        "format": "date",
                        "example": "2024-01-01"
                    },
                    "lastUpdateDate": {
                        "type": "string",
                        "description": "lastUpdateDate",
                        "format": "date",
                        "example": "2024-10-01"
                    },
                    "customerServiceLine": {
                        "$ref": "#/components/schemas/CustomerServiceLineDTO"
                    },
                    "principalPhone": {
                        "type": "boolean",
                        "description": "principalPhone",
                        "example": true
                    },
                    "user": {
                        "$ref": "#/components/schemas/UserDTO"
                    },
                    "verified": {
                        "type": "boolean",
                        "description": "verified",
                        "example": true
                    },
                    "contactType": {
                        "$ref": "#/components/schemas/ContactTypeDTO"
                    },
                    "contractType": {
                        "$ref": "#/components/schemas/ContractTypeDTO"
                    },
                    "messagingType": {
                        "$ref": "#/components/schemas/MessagingTypeDTO"
                    },
                    "area": {
                        "type": "string",
                        "description": "area",
                        "example": "+222"
                    }
                },
                "description": "DTO que representa los datos de un teléfono"
            },
            "PhoneNPDTO": {
                "type": "object",
                "properties": {
                    "number": {
                        "type": "string",
                        "description": "Número de teléfono",
                        "example": "123456789"
                    },
                    "type": {
                        "$ref": "#/components/schemas/TypeDTO"
                    },
                    "customerServiceLine": {
                        "$ref": "#/components/schemas/CustomerServiceLineDTO"
                    },
                    "area": {
                        "type": "string",
                        "description": "Código de área del teléfono",
                        "example": "57"
                    },
                    "user": {
                        "$ref": "#/components/schemas/UserRegistrationDTO"
                    }
                },
                "description": "DTO que representa la información de un teléfono de una persona natural"
            },
            "PrefixDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "code",
                        "example": "P001"
                    },
                    "description": {
                        "type": "string",
                        "description": "description",
                        "example": "Prefix for international calls"
                    }
                },
                "description": "DTO que representa un prefijo de teléfono"
            },
            "ProfessionDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la profesión",
                        "example": "8453"
                    }
                },
                "description": "Objeto de la profesión de una persona natural"
            },
            "PropertyGroupDTO": {
                "title": "PropertyGroupDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código del grupo de propiedad",
                        "example": "BRR"
                    }
                },
                "description": "Objeto grupo de propiedad"
            },
            "PropertyTypeDTO": {
                "title": "PropertyTypeDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código del tipo de propiedad",
                        "example": "PRO"
                    }
                },
                "description": "Objeto tipo de propiedad"
            },
            "ProvinceDTO": {
                "title": "ProvinceDTO",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Código de la provincia",
                        "format": "int32",
                        "example": 37
                    }
                },
                "description": "Objeto de la provincia"
            },
            "RegionDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la región",
                        "example": "RG-456"
                    }
                },
                "description": "DTO que representa la región geográfica"
            },
            "RelationshipDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "code",
                        "format": "int32"
                    },
                    "description": {
                        "type": "string",
                        "description": "description",
                        "example": "Relationship description"
                    },
                    "left": {
                        "type": "string",
                        "description": "left",
                        "example": "Left Entity"
                    },
                    "right": {
                        "type": "string",
                        "description": "right",
                        "example": "Right Entity"
                    }
                },
                "description": "DTO que representa una relación entre entidades"
            },
            "RelationshipWithBankTypeDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código del tipo de relación con el banco",
                        "example": "R01"
                    }
                },
                "description": "DTO que representa el tipo de relación con el banco"
            },
            "SecondaryRegionDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Codigo de la region secundaria",
                        "example": "NORTE"
                    }
                },
                "description": "Objeto para la region secundaria"
            },
            "SecondaryStreetLetterDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Codigo de la letra de la calle secundaria",
                        "example": "2"
                    }
                },
                "description": "Objeto para la letra de la calle secundaria"
            },
            "SecondaryStreetTypeDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Nombre del tipo de vía secundaria",
                        "example": "AK"
                    }
                },
                "description": "Tipo de vía secundaria"
            },
            "SegmentDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código del segmento",
                        "example": "PER"
                    }
                },
                "description": "Objeto del semento de la persona natural"
            },
            "SexDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código del sexo",
                        "example": "M"
                    }
                },
                "description": "Sexo de la persona natural"
            },
            "StatusDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código del estado",
                        "example": "P"
                    }
                },
                "description": "Estado de la persona natural"
            },
            "SubdivisionDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la subdivisión",
                        "example": "SD-123"
                    }
                },
                "description": "DTO que representa la subdivisión geográfica"
            },
            "SubsidiaryDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Código de la sucursal",
                        "format": "int32",
                        "example": 1
                    }
                },
                "description": "Información de la sucursal"
            },
            "TaxResidenceCountryDTO": {
                "type": "object",
                "properties": {
                    "countryCode": {
                        "type": "integer",
                        "description": "countryCode",
                        "format": "int32",
                        "example": 123
                    },
                    "identification": {
                        "$ref": "#/components/schemas/IdentificationDTO"
                    },
                    "creationDate": {
                        "type": "string",
                        "description": "creationDate",
                        "format": "date",
                        "example": "2024-10-28"
                    },
                    "residenceOfCountry": {
                        "type": "boolean",
                        "description": "residenceOfCountry",
                        "example": true
                    },
                    "citizenOfCountry": {
                        "type": "boolean",
                        "description": "citizenOfCountry",
                        "example": true
                    }
                },
                "description": "DTO que representa el país de residencia fiscal"
            },
            "TaxSituationDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Código de la situación tributaria",
                        "example": "8291"
                    }
                },
                "description": "Información de la situación tributaria"
            },
            "TransactionalProfileDTO": {
                "type": "object",
                "properties": {
                    "cashTransactions": {
                        "type": "boolean",
                        "description": "Transacciones en efectivo",
                        "example": true
                    },
                    "transactionsByCheck": {
                        "type": "boolean",
                        "description": "Transacciones por cheque",
                        "example": true
                    },
                    "localTransfer": {
                        "type": "boolean",
                        "description": "Transferencias locales",
                        "example": true
                    },
                    "internationalTransfersSent": {
                        "type": "boolean",
                        "description": "Transferencias internacionales enviadas",
                        "example": true
                    },
                    "firstCountryTransfersSent": {
                        "$ref": "#/components/schemas/CountryDTO"
                    },
                    "secondCountryTransfersSent": {
                        "$ref": "#/components/schemas/CountryDTO"
                    },
                    "thirdCountryTransfersSent": {
                        "$ref": "#/components/schemas/CountryDTO"
                    },
                    "firstCountryTransfersReceived": {
                        "$ref": "#/components/schemas/CountryDTO"
                    },
                    "secondCountryTransfersReceived": {
                        "$ref": "#/components/schemas/CountryDTO"
                    },
                    "thirdCountryTransfersReceived": {
                        "$ref": "#/components/schemas/CountryDTO"
                    },
                    "assetTransfers": {
                        "type": "boolean",
                        "description": "Transferencias de activos",
                        "example": true
                    },
                    "totalDepositAmount": {
                        "type": "string",
                        "description": "Monto total de depósitos",
                        "example": "1000000.0"
                    },
                    "depositAmount": {
                        "type": "integer",
                        "description": "Monto de depósito",
                        "format": "int32",
                        "example": 1000000
                    },
                    "withdrawalTotalAmount": {
                        "type": "string",
                        "description": "Monto total de retiros",
                        "example": "1000000.0"
                    },
                    "amountWithdrawal": {
                        "type": "integer",
                        "description": "Monto de la retirada de fondos",
                        "format": "int32",
                        "example": 5000
                    },
                    "internationalTransfersReceived": {
                        "type": "boolean",
                        "description": "Indica si se han recibido transferencias internacionales",
                        "example": true
                    }
                },
                "description": "Perfil transaccional"
            },
            "TypeDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "codigo del tipo",
                        "example": "1"
                    }
                },
                "description": "codigo del tipo"
            },
            "TypePepDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "codigo del tipo pep",
                        "example": "001"
[...]
