{"openapi":"3.0.1","info":{"title":"interoperabilidad-mock","description":"Proyecto de interoperabilidad Mocks","version":"0.0.1"},"servers":[{"url":"https://webappspruebas.devbancoomeva.co/mocks"}],"paths":{"/api/v1/mock/vinculacionCliente":{"post":{"tags":["mock-controller"],"summary":"Vincular Cliente","description":"Vincular Cliente","operationId":"vinculacionCliente","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestBaseUnicaClienteRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Vinculacion exitosa del cliente","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseUnicaClienteResponseDTO"}}}}}}},"/api/v1/mock/verificarDatosUsuario":{"post":{"tags":["mock-controller"],"summary":"consulta la informacion general de una persona natural","description":"consultar la informacion general de una persona natural","operationId":"verificarDatosUsuario","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestVerificarDatosUsuarioRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalverificarDatosUsuarioResponse"}}}}}}},"/api/v1/mock/verificarDatosUsuarioEmp":{"post":{"tags":["mock-controller"],"summary":"Consultar información general del cliente","description":"Consultar información general del cliente","operationId":"verificarDatosUsuarioEmp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestVerificarDatosUsuarioEMPRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalVerificarDatosUsuarioEMPResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/vectortu":{"post":{"tags":["mock-controller"],"summary":"Vector tu","description":"Consultar informacion comercial","operationId":"vectorTo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestVectorToResquestDTO"}}},"required":true},"responses":{"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalInformacionComercialClienteDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/validateOnboardingTransaction":{"post":{"tags":["mock-controller"],"summary":"Validar onboarding","description":"Validar onboarding","operationId":"validateOnboardingTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestValidateOnboardingTransactionRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalSecretSdkResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/validarProductoCliente":{"post":{"tags":["mock-controller"],"summary":"Validar Producto Cliente","description":"Validar Producto Cliente como Cuenta Pensionado, Cuenta Ahorros, Cuenta AFC, Cuenta CDT y Cuenta PAP","operationId":"validarProducto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestValidarProductoClienteRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Validación exitosa del producto del cliente","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalValidarProductoClienteResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/validarOTP":{"post":{"tags":["mock-controller"],"summary":"validarOTP","description":"validacion codigo OTP","operationId":"validarOTP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestValidarOtpRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalValidarListasResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/validarOTC":{"post":{"tags":["mock-controller"],"summary":"validarOTC","description":"validacion codigo OTC","operationId":"validarOTC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestValidarOTCRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalValidarOTCResponseDTO"}}}}}}},"/api/v1/mock/validadorPlus":{"post":{"tags":["mock-controller"],"summary":"validador Plus","description":"Consulta la informaciíon financiera de un cliente","operationId":"validadorPlus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestValidadorPlusRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Consulta exitosa en Validador","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalValidarListasResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/validacionCajeroCorresponsal":{"post":{"tags":["mock-controller"],"summary":"Validación de Cajero Corresponsal","description":"Este endpoint permite validar los datos de un cajero corresponsal y enriquecer la información de la transacción.","operationId":"validacionCajeroCorresponsal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestRequestDTOCajeroCorresposal"}}},"required":true},"responses":{"200":{"description":"Operación exitosa. Devuelve la información enriquecida del cajero corresponsal.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalResponse"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/transferenciasCuentasPropias":{"post":{"tags":["mock-controller"],"summary":"transferenciasCuentasPropias","description":"transferenciasCuentasPropias","operationId":"transferenciasCuentasPropias","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestTransferenciaCuentasPropiasRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalTransferenciaCuentasPropiasBian"}}}},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/transferenciasCuentasPropiasORQ":{"post":{"tags":["mock-controller"],"summary":"transferenciasCuentasPropiasORQ","description":"transferenciasCuentasPropiasORQ","operationId":"transferenciasCuentasPropiasORQ","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestTransferenciaCuentasPropiasOrqRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalTransferenciaCuentasPropiasOrqBian"}}}}}}},"/api/v1/mock/transaccionesMasivasORQ":{"post":{"tags":["mock-controller"],"summary":"Realiza transacciones masivas orquestación","description":"Realiza transacciones masivas orquestación","operationId":"transaccionMasivaORQ","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestTransaccionesMasivasORQRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarDetalleCuentaResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/solicitarChequeOrq":{"post":{"tags":["mock-controller"],"summary":"Solicitar Cheque Orq","description":"Solicitar un Cheque de Gerencia orquestación.","operationId":"solicitarChequeOrq","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestSolicitarChequeOrqRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalSolicitarChequeOrqResponseDTO"}}}},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/servicioAlcancia":{"post":{"tags":["mock-controller"],"summary":"Servicio Alcancía","description":"Crear,  consultar y modificar el producto de alcancía.","operationId":"servicioAlcancia","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestServicioAlcanciaRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"201":{"description":"Operación de creación.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalServicioAlcanciaResponseDTO"}}}},"200":{"description":"Operación de consulta o modificación.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalServicioAlcanciaResponseDTO"}}}}}}},"/api/v1/mock/secretSdk":{"post":{"tags":["mock-controller"],"summary":"Consultar las credecnciales para consumir los servicios de ADOS","description":"Consultar las credecnciales para consumir los servicios de ADOS","operationId":"secretSdk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestSecretSdkRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalSecretSdkResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/reversoCanales":{"post":{"tags":["mock-controller"],"summary":"reversoCanales","description":"reversoCanales","operationId":"reversoCanales","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestTransaccionReversoRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalTransaccionReversoResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/retiroSinTarjeta":{"post":{"tags":["mock-controller"],"summary":"retiroSinTarjeta","description":"retiroSinTarjeta","operationId":"retiroSinTarjeta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestRetiroSinTarjetaRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRetiroSinTarjetaResponseDTO"}}}}}}},"/api/v1/mock/requestCheque":{"post":{"tags":["mock-controller"],"summary":"solicitar cheque","description":"solicitar cheque","operationId":"solicitarCheque","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestRequestChequeOperationData"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalResponseRequestChequeDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/policyterms/retrieve":{"post":{"tags":["mock-controller"],"summary":"Consulta de autorización de términos y condiciones.","description":"Consulta de autorización de términos y condiciones.","operationId":"PolicyTermsRetrieve","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestPolicyTermsRetrieveRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Consulta éxitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalResponseDTO"}}}}}}},"/api/v1/mock/policyTerms/evaluate":{"post":{"tags":["mock-controller"],"summary":"Autorizar terminos y condiciones","description":"Autorizar terminos y condiciones","operationId":"policyTerms","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestPolicyTermsRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Politicas autorizadas con exito","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalPolicyTermsResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/pagarTCOrq":{"post":{"tags":["mock-controller"],"summary":"Pagar TC Orq","description":"Realizar el pago mínimo, pago total y otro monto de la tarjeta de crédito.","operationId":"pagarTCOrq","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestPagarTCOrqRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalInfoTransactionResponseDTO"}}}}}}},"/api/v1/mock/pagarEstadoCuentaOrq":{"post":{"tags":["mock-controller"],"summary":"consulta el detalle de los productos de Inversión CDT de un cliente","description":"consultar el detalle de los productos de Inversión CDT de un cliente","operationId":"pagarEstadoCuentaOrq","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestPagarEstadoCuentaOrqRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalPagarEstadoCuentaOrqResponse"}}}}}}},"/api/v1/mock/pagarEstadoCuentaCanales":{"post":{"tags":["mock-controller"],"summary":"Pagar Estado Cuenta Corresponsal","description":"Paga Estado Cuenta En Un Corresponsal","operationId":"pagarEstadoCuentaCanales","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestPagarEstadoCuentaCorresponsalRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalPagarEstadoCuentaCorresponsalResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/pagarConvenioCorresponsal":{"post":{"tags":["mock-controller"],"summary":"Pago de Convenio Corresponsal","description":"Este endpoint permite realizar el pago de un convenio corresponsal y devuelve los detalles de la transacción.","operationId":"pagarConvenioCorresponsal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestPagarConvenioCorresponsalRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"200":{"description":"Operación exitosa. Devuelve los detalles de la transacción.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalGenerarOtcResponseDTO"}}}},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/notificacionMonitor":{"post":{"tags":["mock-controller"],"summary":"Notificacion Monitor","description":"Notificacion monitor por medio de msn e email","operationId":"notificacionMonitor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestNotificacionMonitorRequest"}}},"required":true},"responses":{"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalNotificacionMonitorDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/inspektor":{"post":{"tags":["mock-controller"],"summary":"Validar en listas de Inspektor","description":"Valida a un cliente en listas restrictivas utilizando el servicio Inspektor","operationId":"validarEnListas","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestNombreIdentificacionRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalValidarListasResponseDTO"}}}}}}},"/api/v1/mock/generarCuponPago":{"post":{"tags":["mock-controller"],"summary":"generarCuponPago","description":"Realiza la generacion del cupon de pago","operationId":"generarCuponPago","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestCuponRequest"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalCuponResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/findById/retrieve":{"post":{"tags":["mock-controller"],"summary":"Find by id","description":"Find by id","operationId":"findById","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestFindByIdRequestDTOFindByIdDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Busqueda realizada con exito","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalFindByIdResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/enviosms":{"post":{"tags":["mock-controller"],"summary":"enviosms","description":"Envios de de mensajes de texto","operationId":"enviarSms","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestEnvioSmsRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/enviarCorreo":{"post":{"tags":["mock-controller"],"summary":"enviarCorreo","description":"Envios de correos","operationId":"enviarCorreo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestEnvioCorreosRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/desencriptarhclient":{"post":{"tags":["mock-controller"],"summary":"Desencriptar respuesta HClient","description":"Desencriptar respuesta HClient","operationId":"desencriptarRespuestaHClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestDesencriptarHClientInt"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalDesencriptarHClientOutDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/debitarAlcancia":{"post":{"tags":["mock-controller"],"summary":"debitarAlcancia","description":"Realiza una pignoración de dinero por el concepto de alcancía","operationId":"debitarAlcancia","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestDebitarAlcanciaRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalInfoResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/createSavingsAccount":{"post":{"tags":["mock-controller"],"summary":"Crear Cuenta de Ahorro","description":"Servicio para la creación de una cuenta de ahorro","operationId":"createSavingsAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestCreateSavingsAccountRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"200":{"description":"Cuenta creada con éxito","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalSavingsAccountResponseDTO"}}}},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/createAndSendToken":{"post":{"tags":["mock-controller"],"summary":"createAndSendToken","description":"Genera un token y lo envia por sms y correo","operationId":"createAndSendToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestCreateAndSendOtcRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/createAndSendOtc":{"post":{"tags":["mock-controller"],"summary":"createAndSendOtc","description":"Genera un otc y lo envia por sms y correo","operationId":"createAndSendOtc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestCreateAndSendOtcRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/crearCDT":{"post":{"tags":["mock-controller"],"summary":"Crear CDT","description":"Crea un CDT","operationId":"crearCDT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestCrearCDTRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"CDT creado con exito","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalCrearCDTResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarpaises":{"post":{"tags":["mock-controller"],"summary":"Consultar Paises","description":"Consultar mediante una lista los paises","operationId":"consultarPaises","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarPaisesRequest"}}},"required":true},"responses":{"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarPaisesDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarbancos":{"post":{"tags":["mock-controller"],"summary":"Consultar Bancos","description":"Consultar mediante una lista los bancos","operationId":"consultaBancos","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultaCiudadRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarBancosDTO"}}}}}}},"/api/v1/mock/consultar":{"post":{"tags":["mock-controller"],"summary":"Consultar Perfil","description":"Consulta el perfil del usuario","operationId":"consultarProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarProfileRequestDTO"}}},"required":true},"responses":{"200":{"description":"Perfil consultado con éxito","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultarProfileResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarTitularCuenta":{"post":{"tags":["mock-controller"],"summary":"Consultar la información requerida del titular de una cuenta a partir del número de cuenta","description":"consultar la información requerida del titular de una cuenta a partir del número de cuenta","operationId":"consultarTitularCuenta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarTitularCuentaRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarTitularCuentaResponseDTO"}}}}}}},"/api/v1/mock/consultarTasaCupo":{"post":{"tags":["mock-controller"],"summary":"Consulta de Tasa de Cupo","description":"Este endpoint permite consultar la tasa asociada al cupo activo de un cliente.","operationId":"consultarTasaCupo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarTasaCupoRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Operación exitosa. Devuelve los detalles de la tasa.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalPagarEstadoCuentaOrqResponse"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarParamHClient":{"post":{"tags":["mock-controller"],"summary":"Consulta de ParamHClient","description":"Consulta de ParamHclient","operationId":"consultarParamHClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarParamHClientResquestDTO"}}},"required":true},"responses":{"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarParamHClientResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarObligaciones":{"post":{"tags":["mock-controller"],"summary":"Consultar Obligaciones","description":"Consulta las obligaciones de un cliente.","operationId":"consultarObligaciones","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarObligacionesRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Consulta exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultarObligacionesResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarMovimientosORQ":{"post":{"tags":["mock-controller"],"summary":"consultarMovimientosORQ","description":"consultarMovimientosORQ","operationId":"consultarMovimientosORQ","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarMovimientosORQRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalconsultarMovimientosORQResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarMovimientosDia":{"post":{"tags":["mock-controller"],"summary":"consultarMovimientosDia","description":"consultarMovimientosDia","operationId":"consultarMovimientosDia","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarMovimientosDiaRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarMovimientosDiaResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarMovimientosBMEOrq":{"post":{"tags":["mock-controller"],"summary":"consultarMovimientosBMEOrq","description":"consultarMovimientosBMEOrq","operationId":"consultarMovimientosBMEOrq","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarMovimientosBMEOrqRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalconsultarMovimientosBMEOrqResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarDetallePAP":{"post":{"tags":["mock-controller"],"summary":"consulta el detalle de los productos de Inversión PAP de un cliente","description":"consultar el detalle de los productos de Inversión PAP de un cliente","operationId":"consultarDetallePAP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarDetallePAPRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarDetallePAPResponse"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarDetalleMovimientosDia":{"post":{"tags":["mock-controller"],"summary":"consultarDetalleMovimientosDia","description":"consultarDetalleMovimientosDia","operationId":"consultarDetalleMovimientosDia","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarDetalleMovimientosDiaRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarDetalleMovimientosDiaResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarDetalleCuenta":{"post":{"tags":["mock-controller"],"summary":"consulta el detalle de una cuenta","description":"consulta el detalle de una cuenta","operationId":"consultarDetalleCuenta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarDetalleCuentaRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarDetalleCuentaResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarDetalleCDT":{"post":{"tags":["mock-controller"],"summary":"consulta el detalle de los productos de Inversión CDT de un cliente","description":"consultar el detalle de los productos de Inversión CDT de un cliente","operationId":"consultarDetalleCDT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarDetalleCDTRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarDetalleCDTResponse"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarCupos":{"post":{"tags":["mock-controller"],"summary":"Consultar Cupos","description":"Consulta los cupos disponibles para un cliente.","operationId":"consultarCupos","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarCuposRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultarCuposResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarCuentas":{"post":{"tags":["mock-controller"],"summary":"ConsultarCuentasORQ","description":"Consulta las cuentas del cliente","operationId":"consultarCuentas","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarCuentasRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Consulta exitosa en Validador","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalValidarListasResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarCuentasPan":{"post":{"tags":["mock-controller"],"summary":"Consultar Cuentas PAN","description":"Consultar Cuentas PAN","operationId":"ConsultarCuentasPan","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestTransaccionRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarCuentasPan"}}}}}}},"/api/v1/mock/consultarCuentasP2P":{"post":{"tags":["mock-controller"],"summary":"consultarCuentas","description":"Consulta las cuentas p2p asociadas al cliente con su tipo y número de documento","operationId":"consultarCuentasp2pPorCliente","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarCuentasp2pRequestDTO"}}},"required":true},"responses":{"400":{"description":"Error en la solicitud","content":{"application/json":{}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultarCuentasp2pResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarCostoTitular":{"post":{"tags":["mock-controller"],"summary":"consultarCostoTitularidad","description":"Consulta los datos relacionados con una transacción según la información del cliente.","operationId":"consultarCostoTitular","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarCostoTitularRequestDTO"}}},"required":true},"responses":{"400":{"description":"Error en la solicitud","content":{"application/json":{}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultarCostoTitularResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarCodigosUnicosAdquirencia":{"post":{"tags":["mock-controller"],"summary":"consulta los codigos unicos de Adquirencia","description":"consulta los codigos unicos de Adquirencia","operationId":"consultarCodigosUnicos","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarCodigosUnicosAdquirenciaRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarDetalleCuentaResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarCliTab":{"post":{"tags":["mock-controller"],"summary":"ConsultarCliTab","description":"Consulta las actividades economicas","operationId":"consultarCliTab","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarCliTabRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Consulta exitosa en Catalogo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalValidarListasResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/consultarCheque":{"post":{"tags":["mock-controller"],"summary":"Consultar Cheque","description":"Consultar Cheques por rango de fechas y monto (Opcional) ","operationId":"consultaCheque","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarChequeRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarChequeDTO"}}}}}}},"/api/v1/mock/consultarCatalogo":{"post":{"tags":["mock-controller"],"summary":"Consulta de Catalogo","description":"Consulta catalogo por nombre","operationId":"consultarCatalogo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarCatalogoDTORequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarCatalogosResponseDTO"}}}}}}},"/api/v1/mock/consultarCDTsPAP":{"post":{"tags":["mock-controller"],"summary":"Consulta la información general de los CDT y PAP que tenga un cliente","description":"Consulta la información general de los CDT y PAP que tenga un cliente","operationId":"consultarCDTsPAP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarCDTsPAPRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarCDTsPAPResponseDTO"}}}}}}},"/api/v1/mock/consultarBUC":{"post":{"tags":["mock-controller"],"summary":"Consultar BUC","operationId":"postMethodName","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultaBucRequestDTO"}}},"required":true},"responses":{"200":{"description":"Se ha realizado la consulta exitosamente","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarBucResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultaciudades":{"post":{"tags":["mock-controller"],"summary":"Consulta Ciudades","description":"Consultar la lista de ciudades por departamento","operationId":"consultaCiudades","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultaCiudadRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultaCiudadesDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultaTransaccion":{"post":{"tags":["mock-controller"],"summary":"totalTransaccionesProducto","description":"Realiza la consulta del total de transacciones asociadas a un producto","operationId":"consultarTransaccion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultaTransaccionRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarDetalleCuentaResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultaTablaAmortizacion":{"post":{"tags":["mock-controller"],"summary":"Consulta de Tabla de Amortización por Loan Number","description":"Este endpoint permite consultar la tabla de amortización de un préstamo a partir de su número de préstamo (loanNumber).","operationId":"consultaTablaAmortizacion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestRequestAmortizacionDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"200":{"description":"Operación exitosa. Devuelve los detalles de la tabla de amortización.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalResponse"}}}},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultaPrestamoPorLoanNumber":{"post":{"tags":["mock-controller"],"summary":"Consulta de Préstamo por Loan Number","description":"Este endpoint permite consultar los detalles de un préstamo a partir de su número de préstamo (loanNumber).","operationId":"consultaPrestamoPorLoanNumber","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestRequestConsultaPrestamoPorLoanNumber"}}},"required":true},"responses":{"200":{"description":"Operación exitosa. Devuelve los detalles del préstamo.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalResponse"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultaMovimientos":{"post":{"tags":["mock-controller"],"summary":"consultaMovimientos","description":"consultaMovimientos","operationId":"consultaMovimientos","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultaMovimientosRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalconsultaMovimientosResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultaMovimientosACH":{"post":{"tags":["mock-controller"],"summary":"consultarMovimientosACH","description":"Consulta los movimientos de un producto en transferencias ACH","operationId":"consultarCuentasACH","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarMovimientosACHRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Consulta exitosa en Validador","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalValidarListasResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultaMovAdqreTotal":{"post":{"tags":["mock-controller"],"summary":"ConsultarMovimientosAdquitientesTotal","description":"Servicio para la consulta de los movimientos de los adquitientes total","operationId":"consultarMovimientosAnquirientesTotal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestMovAdqreRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalMovAdqreDetailsResponseTalDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consultaMovAdqreDetails":{"post":{"tags":["mock-controller"],"summary":"ConsultarMovimientosAdquitientesDetalle","description":"Servicio para la consulta de los movimientos de los adquitientes por detalle","operationId":"consultarMovimientosAnquirientesDetalle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestMovAdqreRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalMovAdqreDetailsResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consignarCuentaEnCorresponsal":{"post":{"tags":["mock-controller"],"summary":"consignación desde un corresponsal","description":"Consignación desde un corresponsal","operationId":"ConsignarCuentaEnCorresponsal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsignarEnCorresponsalRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsignarCuentaEnCorresponsalResponse"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/consignacionCanales":{"post":{"tags":["mock-controller"],"summary":"consignacionCanales","description":"consignacionCanales","operationId":"consignacionCanales","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsignacionCanalesRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalconsignacionCanalesResponseDTO"}}}}}}},"/api/v1/mock/anularCheque":{"post":{"tags":["mock-controller"],"summary":"Anular Cheque","description":"Servicio que permite anular cheques en los canales digitales a los clientes de banco.","operationId":"anularCheque","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestAnularChequeRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalAnularChequeResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/ValidarOTPuOTC":{"post":{"tags":["mock-controller"],"summary":"ValidarOTPuOTC","description":"validacion codigo OTC o codico OTP","operationId":"ValidarOTPuOTC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestValidarOTPuOTCRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalValidarOTPuOTCResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/SendNotification":{"post":{"tags":["mock-controller"],"summary":"SendNotification","description":"Envio de notificaciones","operationId":"sendNotification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestSendNotificationRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalSendNotificationResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/PaymentInitiationTransaction/Initiate":{"post":{"tags":["mock-controller"],"summary":"RealizarPagoTC","description":"Iniciar una operación de pago","operationId":"initiationTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestInitiatePaymentInitiationTransactionRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalInitiatePITResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/Password/Evaluate":{"post":{"tags":["mock-controller"],"summary":"Password Evaluate","description":"Valida la contraseña para el login del cliente.","operationId":"passwordEvaluate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestPasswordEvaluateRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalPasswordEvaluateResponseDTO"}}}}}}},"/api/v1/mock/PartyReferenceDataDirectory/Register":{"post":{"tags":["mock-controller"],"summary":"Creacion de un usuario con datos basicos","description":"Creacion de un usuario con datos basicos","operationId":"RegisterPartyReferenceDataDirectory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestRegisterPartyReferenceDataDirectoryRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRegisterPartyReferenceDataDirectoryResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/OrquestadorTransacciones":{"post":{"tags":["mock-controller"],"summary":"Orquestador de Transacciones","description":"Intermediario digital encargado de gestionar, validar y estandarizar el proceso de transacción monetarias.","operationId":"transactionOrchestrator","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestTransactionOrchestratorRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalTransactionOrchestratorResponseDTO"}}}},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/GenerarOtc":{"post":{"tags":["mock-controller"],"summary":"GenerarOtc","description":"Genera codigo OTC","operationId":"GenerarOtc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestGenerarOtcRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalGenerarOtcResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/DirectedPaymentTransaction/Initiate":{"post":{"tags":["mock-controller"],"summary":"Pago dirigido","description":"Pago total de una compra o pago parcial de una compra.","operationId":"directedPaymentTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestDirectedPaymentTransactionRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalDirectedPaymentTransactionResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/CreditCardBillingFacility/Retrieve":{"post":{"tags":["mock-controller"],"summary":"Consultar Detalle Tarjeta","description":"Consultar detalle de la tarjeta.","operationId":"billingFacility","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestBillingFacilityRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalBillingFacilityResponseDTO"}}}}}}},"/api/v1/mock/CrearCuentasCATS":{"post":{"tags":["mock-controller"],"summary":"CrearCuentasCATS","description":"Apertura de una cuenta ágil","operationId":"crearCuentasCats","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestCrearCuentasCATSRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalCrearCuentasCATSResponseDTO"}}}}}}},"/api/v1/mock/CreacionEdicionBuc":{"post":{"tags":["mock-controller"],"summary":"CreacionEdicionBuc","description":"crear o actualizar un cliente en la BUC","operationId":"CreacionEdicionBuc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestCreacionBucRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalCreacionBucResponseDTOResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/ConsultarDetallePrestamos":{"post":{"tags":["mock-controller"],"summary":"ConsultarDetallePrestamos","description":"consulta los detalle de un prestamos","operationId":"consultarDetallePrestamos","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarDetallePrestamosRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalValidarListasResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/ConsultarCiudadSucursal":{"post":{"tags":["mock-controller"],"summary":"Consultar Ciudad Sucursal","description":"Servicio para consultar donde el cliente puede escoger la sucursal a la cual va estar asociado","operationId":"consultaCiudadSucursal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarCiudadSucursalRequest"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Validación exitosa en las listas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultaCiudadSucursalDTO"}}}}}}},"/api/v1/mock/CompraCarteraTarjetaCredito":{"post":{"tags":["mock-controller"],"summary":"Compra cartera tarjeta credito","description":"Cancelar una alcancia","operationId":"compraCarteraTarjetaCredito","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestCompraCarteraTarjetaCreditoRequestDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalCompraCarteraTarjetaCreditoResponseDTO"}}}},"404":{"description":"Not found"}}}},"/api/v1/mock/CancelarAlcancia":{"post":{"tags":["mock-controller"],"summary":"CancelarAlcancia","description":"Cancelar una alcancia","operationId":"cancelarAlcancia","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestCancelarAlcanciaRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalCancelarAlcanciaResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/mock/BucRetrieve":{"post":{"tags":["mock-controller"],"summary":"ConsultarBucBIAN","description":"Consultar BUC Mock","operationId":"bucRetrieve","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestConsultarBucRequestPNPJDTO"}}},"required":true},"responses":{"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalConsultarBucBIANResponseDTO"}}}}}}},"/api/v1/mock/AplicacionPagoAprestamos":{"post":{"tags":["mock-controller"],"summary":"Aplicacion Pago a prestamos","description":"Realiza abonos al prestamo","operationId":"aplicacionPagoAprestamos","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalRequestAplicacionPagoAprestamosRequestDTO"}}},"required":true},"responses":{"200":{"description":"Operación Exitosa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanonicalAplicacionPagoAprestamosResponseDTO"}}}},"422":{"description":"Sin procesar"},"403":{"description":"Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/api/v1/health/ping":{"get":{"tags":["health-controller"],"operationId":"ping","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"AccountDTO":{"required":["code"],"type":"object","properties":{"code":{"type":"integer","description":"Código de la cuenta","format":"int32","example":1}},"description":"DTO que representa una cuenta de balance"},"BalanceMovementDTO":{"required":["account","accountAmount","accountJustify"],"type":"object","properties":{"account":{"$ref":"#/components/schemas/AccountDTO"},"accountJustify":{"type":"string","description":"Justificación de la cuenta","example":"DETALLE PARA CUENTA OTROS GASTOS"},"accountAmount":{"type":"string","description":"Monto de la cuenta","example":"10000.15"}},"description":"DTO que representa un movimiento de balance"},"BalanceMovementResponseDTO":{"required":["balanceMovement"],"type":"object","properties":{"balanceMovement":{"type":"array","description":"Lista de movimientos de balance","items":{"$ref":"#/components/schemas/BalanceMovementDTO"}}},"description":"DTO que representa el movimiento del balance"},"BaseUnicaClienteRequestDTO":{"type":"object","properties":{"consultarDatosBasicosDTO":{"$ref":"#/components/schemas/ConsultarDatosBasicosResponseDTO"},"consultarDatosAdicionalesDTO":{"$ref":"#/components/schemas/ConsultarDatosAdicionalesResponseDTO"},"consultarDatosFinancierosDTO":{"$ref":"#/components/schemas/ConsultarDatosFinancierosResponseDTO"}},"description":"Objeto de solicitud para vinculacion del cliente"},"CamposAdicionalesDto":{"type":"object","properties":{"fechaIngresoAsociadoPj":{"type":"string","description":"Fecha de ingreso del asociado PJ"},"tipoClientesPj":{"type":"string","description":"Tipo de clientes PJ"},"sectorEconomico":{"type":"string","description":"Sector económico"},"ciudadConstitucion":{"type":"string","description":"Ciudad de constitución"},"marcacionCorrespondenciaUnica":{"type":"string","description":"Marcación de correspondencia única"},"fechaCorte":{"type":"string","description":"Fecha de corte"}},"description":"Campos adicionales del cliente"},"CanonicalRequestBaseUnicaClienteRequestDTO":{"required":["deviceContext","header","metadata","operationData"],"type":"object","properties":{"header":{"$ref":"#/components/schemas/Header"},"metadata":{"$ref":"#/components/schemas/Metadata"},"deviceContext":{"$ref":"#/components/schemas/DeviceContext"},"operationData":{"$ref":"#/components/schemas/BaseUnicaClienteRequestDTO"}},"description":"DTO que representa el canonical request"},"ClientApp":{"required":["appName","appVersion","userAgent"],"type":"object","properties":{"appName":{"type":"string","description":"Nombre de la aplicación","example":"Bancoomeva App"},"appVersion":{"type":"string","description":"Versión de la aplicación","example":"1.0.0"},"userAgent":{"type":"string","description":"UserAgent de la aplicación","example":"BancoomevaApp/1.0.0 (iOS 15.2)"}},"description":"Información sobre la aplicación cliente"},"ConozcaSuClienteDTO":{"type":"object","properties":{"tipoDiscapacidad":{"type":"string","description":"Tipo de discapacidad del cliente","example":"1"},"grupoEconomico":{"type":"string","description":"Grupo económico del cliente","example":"1"},"paisOperacion":{"type":"string","description":"País de operación del cliente","example":"17"},"coberturaGeografica":{"type":"string","description":"Cobertura geográfica del cliente","example":"1"},"numeroSucursales":{"type":"string","description":"Número de sucursales del cliente","example":"1"},"numeroEmpleados":{"type":"string","description":"Número de empleados del cliente","example":"1"},"origenIngresos":{"type":"string","description":"Origen de ingresos del cliente","example":"12"},"actividadEconomica":{"type":"string","description":"Actividad económica del cliente","example":"41"}},"description":"Conozca a su cliente"},"ConsultarDatosAdicionalesResponseDTO":{"required":["datosAdicionales","datosNegocio","participantes","referencias"],"type":"object","properties":{"participantes":{"$ref":"#/components/schemas/ParticipantesDTO"},"datosAdicionales":{"$ref":"#/components/schemas/DatosAdicionalesDTO"},"referencias":{"$ref":"#/components/schemas/ReferenciasDTO"},"datosNegocio":{"$ref":"#/components/schemas/DatosNegocioDTO"}},"description":"DTO que representa la respuesta de consulta de datos adicionales"},"ConsultarDatosBasicosResponseDTO":{"required":["camposAdicionales","contacto","datosCliente","direcciones","grupoEconomico","referenciasPersonales","residenciaFiscal"],"type":"object","properties":{"datosCliente":{"$ref":"#/components/schemas/DatosClienteDTO"},"residenciaFiscal":{"$ref":"#/components/schemas/ResidenciaFiscalDTO - Vincula Cliente"},"direcciones":{"type":"array","description":"Direcciones del cliente","items":{"$ref":"#/components/schemas/DireccionDTO"}},"contacto":{"$ref":"#/components/schemas/ContactoDTO"},"referenciasPersonales":{"type":"array","description":"Referencias personales del cliente","items":{"$ref":"#/components/schemas/ReferenciaPersonalDto"}},"grupoEconomico":{"$ref":"#/components/schemas/GrupoEconomicoDto"},"camposAdicionales":{"$ref":"#/components/schemas/CamposAdicionalesDto"}},"description":"Objeto de respuesta de la consulta de datos básicos de un cliente"},"ConsultarDatosFinancierosResponseDTO":{"required":["cuentasEnElExtranjero","situacionEconomicaPatrimonial"],"type":"object","properties":{"situacionEconomicaPatrimonial":{"$ref":"#/components/schemas/SituacionEconomicaPatrimonialDTO"},"cuentasEnElExtranjero":{"type":"array","description":"Lista de cuentas en el extranjero","items":{"$ref":"#/components/schemas/CuentaExtranjeraDTO"}}},"description":"Response de salida con información de datos financieros"},"ContactoDTO":{"required":["email","telefono"],"type":"object","properties":{"telefono":{"type":"array","description":"Teléfono del cliente","items":{"$ref":"#/components/schemas/TelefonoDTO"}},"email":{"type":"array","description":"Email del cliente","items":{"$ref":"#/components/schemas/EmailDTO"}}},"description":"Contacto del cliente"},"CuentaExtranjeraDTO":{"required":["entidad","numeroCuenta","tipoCuenta"],"type":"object","properties":{"entidad":{"type":"string","description":"max:100 chars Banco al que pertenece la cuenta","example":"Banco Internacional"},"tipoCuenta":{"type":"string","description":"1 to 10 chars Código del tipo de de cuenta en el extranjero.","example":"Corriente"},"numeroCuenta":{"type":"string","description":"5 to 30 chars Número de cuenta de la operación extranjera.","example":"1234567890"},"oficinaSucursal":{"type":"string","description":"max:30 chars, Oficina del banco al que pertenece la operación","example":"Sucursal Central"},"ciudad":{"type":"string","description":"max:30 chars Ciudad de la operación","example":"Miami"},"telefono":{"type":"string","description":"max:30 chars Teléfono de contacto del banco.","example":"+1 305 123 4567"},"cupo":{"type":"string","description":"PATTERN:^\\d{1,14}\\.\\d{1,2}$ Cupo o monto mensual promedio","example":"50000"},"moneda":{"type":"string","description":"Moneda de la cuenta en el extranjero, 1 to 10 chars Código del tipo de contacto","example":"USD"},"fechaVencimiento":{"type":"string","description":"Fecha de vencimiento de la cuenta en el extranjero","format":"date","example":"2025-12-31"},"fechaUltimaActualizacion":{"type":"string","description":"Fecha de la última actualización de la cuenta en el extranjero","format":"date","example":"2024-10-28"}},"description":"DTO que representa una cuenta en el extranjero"},"DatosAdicionalesDTO":{"required":["actividadEconomicaLaEmpresaDondeTrabaja","autorizaRecibirInformacionATravesTextoACelular","departamentoExpedicion","envioCorrespondenciaReporteAnualComisionesRact","fechaCorteEstadoCuenta","lugarExpedicion","paisExpedicion","tipoEmpresaDondeTrabaja"],"type":"object","properties":{"departamentoExpedicion":{"type":"string","description":"Departamento de expedición","example":"Valle"},"paisExpedicion":{"type":"string","description":"País de expedición","example":"Colombia"},"actividadEconomicaLaEmpresaDondeTrabaja":{"type":"string","description":"Actividad económica de la empresa","example":"comerciales"},"tipoEmpresaDondeTrabaja":{"type":"string","description":"Tipo de empresa","example":"Empresas nacionales"},"lugarExpedicion":{"type":"string","description":"Lugar de expedición","example":"Cali"},"autorizaRecibirInformacionATravesTextoACelular":{"type":"string","description":"Autoriza recibir información por mensaje de texto","example":"Si"},"fechaCorteEstadoCuenta":{"type":"string","description":"Fecha de corte del estado de cuenta","example":"9-12-2024"},"envioCorrespondenciaReporteAnualComisionesRact":{"type":"string","description":"Envío de reporte anual de comisiones","example":"Si"}},"description":"DTO que representa los datos adicionales"},"DatosClienteDTO":{"required":["conozcaSuCliente","datosConyugue","datosDemograficos","encabezado","general","situacionImpositiva"],"type":"object","properties":{"general":{"$ref":"#/components/schemas/GeneralDTO"},"datosEconomicos":{"$ref":"#/components/schemas/DatosEconomicosDTO"},"datosDemograficos":{"$ref":"#/components/schemas/DatosDemograficosDTO"},"encabezado":{"$ref":"#/components/schemas/EncabezadoDTO"},"situacionImpositiva":{"$ref":"#/components/schemas/SituacionImpositivaDTO"},"conozcaSuCliente":{"$ref":"#/components/schemas/ConozcaSuClienteDTO"},"informacionLegal":{"$ref":"#/components/schemas/InformacionLegalDTO"},"datosConyugue":{"$ref":"#/components/schemas/DatosConyugeDTO"}},"description":"Datos del cliente"},"DatosConyugeDTO":{"required":["numeroIdentificacion","primerApellido","primerNombre","tipoIdentificacion"],"type":"object","properties":{"tipoIdentificacion":{"type":"string","description":"Tipo de identificación del conyugue","example":"CC"},"numeroIdentificacion":{"type":"string","description":"Número de identificación del conyugue","example":"1234567890"},"primerApellido":{"type":"string","description":"Primer apellido del conyugue","example":"Betancourt"},"segundoApellido":{"type":"string","description":"Segundo apellido del conyugue","example":"Ospina"},"primerNombre":{"type":"string","description":"Primer nombre del conyugue","example":"Geider"},"segundoNombre":{"type":"string","description":"Segundo nombre del conyugue","example":"Andres"}},"description":"Datos del conyugue del cliente"},"DatosDemograficosDTO":{"required":["primeraNacionalidad"],"type":"object","properties":{"segundaNacionalidad":{"type":"string","description":"Segunda nacionalidad del cliente","example":"100"},"primeraNacionalidad":{"type":"string","description":"Primera nacionalidad del cliente","example":"170"},"terceraNacionalidad":{"type":"string","description":"Tercera nacionalidad del cliente","example":"200"},"profesionUOficio":{"type":"string","description":"Profesión u oficio del cliente","example":"1039"},"nivelAcademico":{"type":"string","description":"Nivel académico del cliente","example":"20"},"ocupacion":{"type":"string","description":"Ocupación del cliente","example":"4"},"pep":{"type":"string","description":"PEP del cliente","example":"12"},"tipoPep":{"type":"string","description":"Tipo PEP del cliente","example":"9"},"relacionPep":{"type":"string","description":"Relación PEP del cliente","example":"4"},"dependientes":{"type":"string","description":"Dependientes del cliente","example":"2"}},"description":"Datos demográficos del cliente"},"DatosEconomicosDTO":{"type":"object","properties":{"representanteLegal":{"type":"string","description":"Representante legal del cliente"},"actividadEconomica":{"type":"string","description":"Actividad económica del cliente"},"fuentePrincipalIngresos":{"type":"string","description":"Fuente principal de ingresos del cliente"},"ingresosAnuales":{"type":"string","description":"Ingresos anuales del cliente"},"origenIngresos":{"type":"string","description":"Origen de ingresos del cliente"},"montoIngresosMensual":{"type":"string","description":"Monto de ingresos mensual del cliente"}},"description":"Datos económicos del cliente"},"DatosNegocioDTO":{"required":["actividadNegocio","diasAtencion","direccion","direccionNegocioIgualAlDomicilioPersonal","horaFin","horaInicio","inicioActividades","nombreEstablecimiento","numeroEmpleados","numeroIdentificacionTributaria","queActividad","quienAtiendeElNegocio","tiempoDesempenandoLaActividadAnos","tiempoExperienciaEmpresarial","tipoEstablecimiento","tipoIdentificacionTributaria"],"type":"object","properties":{"nombreEstablecimiento":{"type":"string","description":"Nombre del establecimiento","example":"Restaurante La Delicia"},"tipoIdentificacionTributaria":{"type":"string","description":"Tipo de identificación tributaria","example":"NIT"},"numeroIdentificacionTributaria":{"type":"string","description":"Número de identificación tributaria","example":"900123456"},"queActividad":{"type":"string","description":"Actividad del negocio","example":"Gastronomía"},"direccionNegocioIgualAlDomicilioPersonal":{"type":"string","description":"Dirección del negocio igual al domicilio personal","example":"No"},"direccion":{"type":"string","description":"Dirección del negocio","example":"Calle 123, Ciudad"},"tiempoDesempenandoLaActividadAnos":{"type":"string","description":"Tiempo desempeñando la actividad en años","example":"5"},"tipoEstablecimiento":{"type":"string","description":"Tipo de establecimiento","example":"Fijo"},"diasAtencion":{"type":"string","description":"Días de atención","example":"Lunes a Viernes"},"horaInicio":{"type":"string","description":"Hora de inicio","example":"08:00"},"horaFin":{"type":"string","description":"Hora de fin","example":"18:00"},"quienAtiendeElNegocio":{"type":"string","description":"Quien atiende el negocio","example":"Propietario"},"numeroEmpleados":{"type":"string","description":"Número de empleados","example":"10"},"inicioActividades":{"type":"string","description":"Fecha de inicio de actividades","example":"2018-01-01"},"tiempoExperienciaEmpresarial":{"type":"string","description":"Tiempo de experiencia empresarial","example":"10 años"},"actividadNegocio":{"type":"string","description":"Actividad del negocio","example":"Restaurante"}},"description":"DTO que representa los datos del negocio"},"DeviceContext":{"required":["clientApp","deviceId","deviceType","geoLocation","ipAddress","macAddress","osVersion"],"type":"object","properties":{"deviceId":{"type":"string","description":"Identificador único del dispositivo desde el cual se origina la solicitud","example":"device123"},"deviceType":{"type":"string","description":"Tipo de dispositivo","example":"mobile"},"osVersion":{"type":"string","description":"Versión del sistema operativo en el dispositivo","example":"iOS 15.2"},"ipAddress":{"type":"string","description":"Dirección IP del dispositivo","example":"127.0.0.1"},"macAddress":{"type":"string","description":"Dirección MAC del dispositivo","example":"00:1B:44:11:3A:B7"},"geoLocation":{"$ref":"#/components/schemas/GeoLocation"},"clientApp":{"$ref":"#/components/schemas/ClientApp"}},"description":"Proporciona información sobre el dispositivo desde el cual se origina la solicitud"},"DireccionDTO":{"type":"object","properties":{"pais":{"type":"string","description":"País de la dirección"},"provinciaEstado":{"type":"string","description":"Provincia o estado de la dirección"},"ciudadLocalidad":{"type":"string","description":"Ciudad o localidad de la dirección"},"viaPrincipal":{"type":"string","description":"Vía principal de la dirección"},"numeroViaPrincipal":{"type":"string","description":"Número de la vía principal"},"nombreViaPrincipal":{"type":"string","description":"Nombre de la vía principal"},"letraViaPrincipal":{"type":"string","description":"Letra de la vía principal"},"sectorViaPrincipal":{"type":"string","description":"Sector de la vía principal"},"viaSecundaria":{"type":"string","description":"Vía secundaria de la dirección"},"numeroViaSecundaria":{"type":"string","description":"Número de la vía secundaria"},"nombreViaSecundaria":{"type":"string","description":"Nombre de la vía secundaria"},"letraViaSecundaria":{"type":"string","description":"Letra de la vía secundaria"},"sectorViaSecundaria":{"type":"string","description":"Sector de la vía secundaria"},"numeroPredioViaSecundaria":{"type":"string","description":"Número de predio de la vía secundaria"},"agrupacion":{"type":"string","description":"Agrupación de la dirección"},"nombreUnidad":{"type":"string","description":"Nombre de la unidad"},"numeroUnidad":{"type":"string","description":"Número de la unidad"},"letraUnidad":{"type":"string","description":"Letra de la unidad"},"direccionesInterior":{"type":"string","description":"Direcciones interiores"},"numeroInterior":{"type":"string","description":"Número interior"},"letraInterior":{"type":"string","description":"Letra interior"}},"description":"Información de la dirección principal del cliente"},"EmailDTO":{"required":["tipo","usoPreferente","usuario"],"type":"object","properties":{"usuario":{"type":"string","description":"Usuario del email del cliente","example":"fuan@gmail.com"},"tipo":{"type":"string","description":"Tipo del email del cliente","example":"PE"},"usoPreferente":{"type":"string","description":"Uso preferente del email del cliente","example":"true"},"ultimaFechaActualizacion":{"type":"string","description":"Última fecha de actualización del email del cliente","example":"2024-02-05"}},"description":"Email del cliente"},"EncabezadoDTO":{"required":["codigoCliente","fechaCreacion"],"type":"object","properties":{"fechaVinculacion":{"type":"string","description":"Fecha de vinculación del cliente","example":"2021-08-01"},"fechaCreacion":{"type":"string","description":"Fecha de creación del cliente","example":"2023-08-08"},"codigoCliente":{"type":"string","description":"Código del cliente","example":"3"}},"description":"Encabezado del cliente"},"GeneralDTO":{"required":["fechaNacimiento","numeroIdentificacion","oficial","oficina","paisNacimiento","primerApellido","primerNombre","sexo"],"type":"object","properties":{"oficial":{"type":"string","description":"Oficial del cliente","example":"10"},"primerNombre":{"type":"string","description":"Primer nombre del cliente","example":"Geider"},"segundoNombre":{"type":"string","description":"Segundo nombre del cliente","example":"Andres"},"primerApellido":{"type":"string","description":"Primer apellido del cliente","example":"Betancourt"},"segundoApellido":{"type":"string","description":"Segundo apellido del cliente","example":"Ospina"},"tipoIdentificacion":{"pattern":"RC|TI|CC","type":"string"},"numeroIdentificacion":{"type":"string","description":"Número de identificación del cliente","example":"1234567890"},"fechaExpedicionDocumento":{"type":"string","description":"Fecha de expedición del documento","example":"2021-08-01"},"paisNacimiento":{"type":"string","description":"País de nacimiento del cliente","example":"Colombia"},"ciudadNacimiento":{"type":"string","description":"Ciudad de nacimiento del cliente","example":"Santa Marta"},"fechaNacimiento":{"type":"string","description":"Fecha de nacimiento del cliente","example":"1990-01-01"},"tutor":{"type":"string","description":"Tutor del cliente"},"nombreTutor":{"type":"string","description":"Nombre del tutor del cliente","example":"Mateo Ramirez"},"sexo":{"type":"string","description":"Sexo del cliente","example":"M"},"genero":{"type":"string","description":"Género del cliente","example":"M"},"estadoCivil":{"type":"string","description":"Estado civil del cliente","example":"SO"},"oficina":{"type":"string","description":"Oficina del cliente","example":"1"},"provinciaNacimiento":{"type":"string","description":"Provincia de nacimiento del cliente","example":"76"},"referidoPor":{"type":"string","description":"Referido por del cliente","example":"1"},"comoSeEntero":{"type":"string","description":"Cómo se enteró del cliente","example":"PAGWEB"},"razonSocial":{"type":"string","description":"Razón social del cliente"},"paisConstitucion":{"type":"string","description":"País de constitución del cliente"},"tipoCompania":{"type":"string","description":"Tipo de compañía del cliente"},"categoriaCompania":{"type":"string","description":"Categoría de compañía del cliente"}},"description":"Información general del cliente"},"GeoLocation":{"required":["latitude","longitude"],"type":"object","properties":{"latitude":{"type":"string","description":"Latitud de geolocalización","example":"4.710989"},"longitude":{"type":"string","description":"Longitud de geolocalización","example":"-74.072092"}},"description":"Información de geolocalización"},"GrupoEconomicoDto":{"type":"object","properties":{"grupoEconomico":{"type":"string","description":"Grupo económico del cliente"}},"description":"Grupo económico del cliente"},"Header":{"required":["authToken","messageId","originatingBank","requestType","timestamp","transactionId"],"type":"object","properties":{"messageId":{"type":"string","description":"Identificador único del mensaje que permite rastrear la solicitud","example":"12345-abcde-67890-fghij"},"timestamp":{"type":"string","description":"Fecha y hora en que se generó la solicitud, en formato ISO8601","example":"2024-10-08T12:30:00"},"originatingBank":{"type":"string","description":"Nombre del banco o entidad que origina la solicitud","example":"Bancoomeva"},"authToken":{"type":"string","description":"Token de autenticación utilizado para validar la solicitud","example":"123456"},"callbackUrl":{"type":"string","description":"URL a la que se enviará la respuesta una vez procesada la solicitud","example":"https://api.bancoomeva.com/callback"},"requestType":{"type":"string","description":"Tipo de solicitud","example":"transfer"},"transactionId":{"type":"string","description":"Identificador único de la transacción específica","example":"txn-001"},"channel":{"type":"string","example":"NP_1_1"},"userLogin":{"type":"string","example":"rarl5550"}},"description":"Contiene información esencial para identificar y autenticar la transacción"},"InformacionLegalDTO":{"type":"object","properties":{"nombreComercial":{"type":"string","description":"Nombre comercial del cliente"},"fechaConstitucion":{"type":"string","description":"Fecha de constitución del cliente","example":"2021-08-01"},"fechaInscripcion":{"type":"string","description":"Fecha de inscripción del cliente","example":"2021-08-01"}},"description":"Información legal del cliente"},"Metadata":{"required":["priority","processingMode","serviceLevelAgreement"],"type":"object","properties":{"priority":{"pattern":"high|medium|low","type":"string","description":"Nivel de prioridad de la solicitud","example":"high"},"serviceLevelAgreement":{"type":"string","description":"Nivel de servicio que define el tiempo de respuesta esperado","example":"standard"},"processingMode":{"pattern":"synchronous|asynchronous","type":"string","description":"Modo de procesamiento","example":"synchronous"}},"description":"Define la prioridad, el nivel de servicio y el modo de procesamiento de la solicitud"},"PaisResidenciaFiscalDTO":{"required":["numeroIdentificacionTributaria","paisResidenciaFiscal","tipoIdentificacionTributaria"],"type":"object","properties":{"paisResidenciaFiscal":{"type":"string","description":"País de residencia fiscal","example":"142"},"tipoIdentificacionTributaria":{"type":"string","description":"Tipo de identificación tributaria","example":"NIT"},"numeroIdentificacionTributaria":{"type":"string","description":"Número de identificación tributaria","example":"1234567890"},"esCiudadano":{"type":"string","description":"Es ciudadano","example":"true"},"esResidente":{"type":"string","description":"Es residente","example":"true"},"ultimaFechaModificacion":{"type":"string","description":"Última fecha de modificación","example":"2024-02-05"}},"description":"País de residencia fiscal del cliente"},"ParticipantesDTO":{"required":["atributoLaRelacion","mensajeLaRelacion","prospectoRelacionado","tipoRelacion","valorAtributo"],"type":"object","properties":{"tipoRelacion":{"type":"string","description":"Tipo de relación","example":"ParticipantesDTO"},"prospectoRelacionado":{"type":"string","description":"Prospecto relacionado","example":"ParticipantesDTO"},"mensajeLaRelacion":{"type":"string","description":"Mensaje de la relación","example":"ParticipantesDTO"},"atributoLaRelacion":{"type":"string","description":"Atributo de la relación","example":"ParticipantesDTO"},"valorAtributo":{"type":"string","description":"Valor del atributo","example":"1000000"}},"description":"DTO que representa los participantes"},"ReferenciaFamiliarDTO":{"type":"object","properties":{"nombre":{"type":"string","description":"Nombre de Referencia Familiar"},"primerApellido":{"type":"string","description":"Primer apellido de la  Referencia Familiar"},"segundoApellido":{"type":"string","description":"Segundo apellido de la  Referencia Familiar"},"parentesco":{"type":"string","description":"parentesco"},"telefono":{"type":"string","description":"telefono de la  Referencia Familiar"},"tipoTelefono":{"type":"string","description":"tipo de telefono de la  Referencia Familiar"},"prefijoTelefono":{"type":"string","description":"prefijo telefono"}},"description":"Información del Referencia Familiar del cliente"},"ReferenciaLaboralDTO":{"type":"object","properties":{"nombreCompania":{"type":"string","description":"Nombre de la compañía"},"cargoActual":{"type":"string","description":"Cargo actual del cliente"},"tipoContrato":{"type":"string","description":"Tipo de contrato"},"tipoEmpresa":{"type":"string","description":"Tipo de empresa"},"fechaIngreso":{"type":"string","description":"Fecha de ingreso a la compañía"},"actividadEconomica":{"type":"string","description":"Actividad económica de la empresa"},"nombreEstablecimiento":{"type":"string","description":"Nombre del establecimiento donde trabaja"},"tiempoDesempenandoActividad":{"type":"integer","description":"Tiempo desempeñando la actividad (en años)","format":"int32"},"tiempoEnActividad":{"type":"integer","description":"Tiempo en la actividad (en años)","format":"int32"}},"description":"Información de la referencia laboral del cliente"},"ReferenciaPersonalDTO":{"required":["cargo","fechaFin","fechaInicio","funcion","nombre","nombreLaInstitucion","numeroIdentificacion","parentesco","pepReferencia","prefijo","primerApellido","segundoApellido","telefono","tipoContacto","tipoIdentificacion","tipoTelefono","ultimaFechaActualizacion"],"type":"object","properties":{"nombre":{"type":"string","description":"Nombre","example":"Juan"},"primerApellido":{"type":"string","description":"Primer apellido","example":"Perez"},"segundoApellido":{"type":"string","description":"Segundo apellido","example":"Gomez"},"parentesco":{"type":"string","description":"Parentesco","example":"Hermano"},"telefono":{"type":"string","description":"Teléfono","example":"+571234567890"},"tipoIdentificacion":{"type":"string","description":"Tipo de identificación","example":"CC"},"numeroIdentificacion":{"type":"string","description":"Número de identificación","example":"1234567890"},"tipoContacto":{"type":"string","description":"Tipo de contacto","example":"Móvil"},"tipoTelefono":{"type":"string","description":"Tipo de teléfono","example":"Celular"},"prefijo":{"type":"string","description":"Prefijo telefónico","example":"+57"},"pepReferencia":{"type":"string","description":"PEP referencia","example":"No"},"funcion":{"type":"string","description":"Función de la referencia","example":"Asistente"},"nombreLaInstitucion":{"type":"string","description":"Nombre de la institución","example":"Empresa XYZ"},"cargo":{"type":"string","description":"Cargo en la institución","example":"Gerente"},"fechaInicio":{"type":"string","description":"Fecha de inicio","example":"2020-01-01"},"fechaFin":{"type":"string","description":"Fecha de fin","example":"2023-01-01"},"ultimaFechaActualizacion":{"type":"string","description":"Última fecha de actualización","example":"2023-10-01"}},"description":"DTO que representa una referencia personal"},"ReferenciaPersonalDto":{"required":["nombreCompleto","parentesco","primerApellido"],"type":"object","properties":{"parentesco":{"type":"string","description":"Parentesco de la referencia personal","example":"MA"},"nombreCompleto":{"type":"string","description":"Nombre completo de la referencia personal","example":"Miguel"},"primerApellido":{"type":"string","description":"Primer apellido de la referencia personal","example":"Gonzalez"},"segundoApellido":{"type":"string","description":"Segundo apellido de la referencia personal","example":"Perez"},"tipoIdentificacion":{"type":"string","description":"Tipo de identificación de la referencia personal","example":"CC"},"numeroIdentificacion":{"type":"string","description":"Número de identificación de la referencia personal","example":"1234567890"},"tipoContacto":{"type":"string","description":"Tipo de contacto de la referencia personal","example":"D"},"tipoTelefono":{"type":"string","description":"Tipo de teléfono de la referencia personal","example":"C"},"prefijo":{"type":"string","description":"Prefijo de la referencia personal","example":"120"},"telefono":{"type":"string","description":"Teléfono de la referencia personal","example":"1234567"},"pepReferencia":{"type":"string","description":"PEP de la referencia personal","example":"true"},"funcion":{"type":"string","description":"Función de la referencia personal","example":"004"},"nombreLaInstitucion":{"type":"string","description":"Nombre de la institución de la referencia personal","example":"1"},"cargo":{"type":"string","description":"Cargo de la referencia personal","example":"1"},"fechaInicio":{"type":"string","description":"Fecha de inicio de la referencia personal","example":"2024-02-01"},"fechaFin":{"type":"string","description":"Fecha de fin de la referencia personal","example":"2024-04-01"},"ultimaFechaActualizacion":{"type":"string","description":"Última fecha de actualización de la referencia personal","example":"2024-02-05"}},"description":"Referencia personal de un cliente"},"ReferenciasDTO":{"required":["referenciaFamiliar","referenciaLaborales","referenciaPersonal"],"type":"object","properties":{"referenciaFamiliar":{"type":"array","description":"Lista de referencias familiares","items":{"$ref":"#/components/schemas/ReferenciaFamiliarDTO"}},"referenciaPersonal":{"type":"array","description":"Lista de referencias personales","items":{"$ref":"#/components/schemas/ReferenciaPersonalDTO"}},"referenciaLaborales":{"type":"array","description":"Lista de referencias laborales","items":{"$ref":"#/components/schemas/ReferenciaLaboralDTO"}}},"description":"DTO que representa las referencias"},"ResidenciaFiscalDTO - Vincula Cliente":{"required":["paisResidenciaFiscales"],"type":"object","properties":{"residenciaFiscalColombia":{"type":"string","description":"Residencia fiscal en Colombia","example":"true"},"fatca":{"type":"string","description":"FATCA","example":"true"},"crs":{"type":"string","description":"CRS","example":"true"},"personaEstadosUnidos":{"type":"string","description":"Persona en Estados Unidos"},"personaEspecificaEstadosUnidos":{"type":"string","description":"Persona específica en Estados Unidos"},"tin":{"type":"string","description":"TIN"},"noTin":{"type":"string","description":"No TIN"},"noAplica":{"type":"string","description":"No aplica"},"clasificacionFatca":{"type":"string","description":"Clasificación FATCA"},"giin":{"type":"string","description":"GIIN"},"crspj":{"type":"string","description":"CRSPJ"},"paisResidenciaFiscales":{"$ref":"#/components/schemas/PaisResidenciaFiscalDTO"}},"description":"Residencia fiscal del cliente"},"SituacionEconomicaDTO":{"required":["activos","arrendamiento","bgjActivos","capitalSocial","claseBalance","cuales","cuotaCoomeva","deduccionesNomina","egresosMensuales","fechaCorte","fechaUltimaActualizacion","gastosAnuales","gastosPersonalesFamiliares","honorarios","ingresosMensuales","ingresosNoOperacionales","otrosGastos","otrosIngresos","pasivos","patrimonio","prestamosDiferentesABancoomeva","rendimientosFinancieros","salarioFijo","salarioVariableComisiones","tarjetasCredito","tipoBalance","totalEgresos","totalIngresos","ventasAnuales"],"type":"object","properties":{"tipoBalance":{"type":"string","description":"Tipo de balance"},"claseBalance":{"type":"string","description":"Clase de balance"},"fechaCorte":{"type":"string","description":"Fecha de corte del balance","format":"date"},"fechaUltimaActualizacion":{"type":"string","description":"Fecha de la última actualización del balance","format":"date","example":"2024-01-15"},"ventasAnuales":{"type":"string","description":"Ventas anuales","example":"1500000"},"ingresosMensuales":{"type":"string","description":"Ingresos mensuales","example":"125000"},"ingresosNoOperacionales":{"type":"string","description":"Ingresos no operacionales","example":"50000"},"gastosAnuales":{"type":"string","description":"Gastos anuales","example":"800000"},"egresosMensuales":{"type":"string","description":"Egresos mensuales","example":"67000"},"bgjActivos":{"type":"string","description":"Activos BGJ","example":"2500000"},"activos":{"type":"string","description":"Total de activos","example":"3000000"},"pasivos":{"type":"string","description":"Total de pasivos","example":"1500000"},"patrimonio":{"type":"string","description":"Total de patrimonio","example":"1500000"},"capitalSocial":{"type":"string","description":"Capital social","example":"500000"},"salarioFijo":{"$ref":"#/components/schemas/BalanceMov
[...]
