{
    "openapi": "3.0.1",
    "info": {
        "title": "interoperabilidad-buc",
        "description": "Proyecto de interoperabilidad BUC",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://webappspruebas.devbancoomeva.co:443/buc/",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/api/v3/buc/consultarTitularCuenta": {
            "post": {
                "tags": [
                    "buc-controller-v-3"
                ],
                "summary": "Consulta titular de cuenta",
                "operationId": "consultarTitularCuenta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestAccountNumberRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v2/productoCaptacion/crearProducto": {
            "post": {
                "tags": [
                    "producto-captacion-controller"
                ],
                "summary": "Crear producto captacion de un cliente",
                "operationId": "crearProductoCapta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestProductoCaptaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalProductoCaptaResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v2/buc/consultarTitularCuenta": {
            "post": {
                "tags": [
                    "buc-controller-v-2"
                ],
                "summary": "Consulta titular de cuenta",
                "operationId": "consultarTitularCuenta_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultaTitularRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/utils/envioSms": {
            "post": {
                "tags": [
                    "utils-controller"
                ],
                "summary": "Enviar SMS a un cliente",
                "operationId": "enviarSms",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestSmsRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalEnvioSmsResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/utils/envioEmail": {
            "post": {
                "tags": [
                    "utils-controller"
                ],
                "summary": "Enviar Email a un cliente",
                "operationId": "envioEmail",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestEnvioEmailRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalEnvioEmailResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/valorPendienteTC": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "consultar valor pendiente tarjeta",
                "operationId": "consultarValorPendienteTarjeta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValorTarjetaPendienteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha asignado una tarjeta preestampada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalValorTarjetaPendienteResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/reversarTransaccion": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Reversar Transaccion",
                "operationId": "reversarTransaccion",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestReversarTransaccionDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la reversa de la transaccion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReversarTransaccionResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/removerCuentaTarjetaDebito": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Remover cuenta asignada a tarjeta debito",
                "operationId": "removerCuentaTarjetaDebito",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCancelarTarjetaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha Removido cuenta asignada a tarjeta debito exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalRemoverCuentaTarjetaDebitoResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/reemisionTarjeta": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Emisión de una nueva tarjeta o reexpedicion de una tarjeta",
                "operationId": "reemisionTarjeta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestReemisionTarjetaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha emitido o reexpedido una nueva tarjeta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalReemisionTarjetaResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/realizarPagoTc": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Realizar Pago TC",
                "operationId": "realizarPagoTc",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestRealizarPagoTcRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Se ha realizado la actualización exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RealizarPagoTcResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tarjetas/realizarPagoTC": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "pagar tarjetas",
                "operationId": "realizarPagoTC",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestRealizarPagoTarjetaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Se ha realizado el pago exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalMovimientoAdquirienteResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tarjetas/realizarPagoTCFacturacion": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Realizar Pago TC Facturacion",
                "operationId": "realizarPagoTCFacturacion",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestRealizarPagoTCFacturacionRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la actualización exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RealizarPagoTCFacturacionResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/realizarPagoDirigidoTc": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Realizar pago dirigido de tarjeta de crédito",
                "operationId": "realizarPagoDirigidoTc",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestRealizarPagoDirigidoTcRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado el pago",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RealizarPagoDirigidoTcResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/realizarAvanceTarjetaCredito": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Realiza un avance de tarjeta de crédito",
                "operationId": "avancesTarjetaCredito",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestAvanceTarjetaCreditoRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Se ha realizado el avance de la tarjeta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalAvanceTarjetaCreditoResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tarjetas/modificarBloqueo": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Modificar bloqueo de la tarjeta",
                "operationId": "modificarBloqueo",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestModificarBloqueoRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Se ha realizado la actualizacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OperacionTarjetaResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tarjetas/generarCvvDinamico": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Generar CVV Dinamico",
                "operationId": "generarCvvDinamico",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestGenerarCvvDinamicoRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha generado el CVV dinamico exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalGenerarCvvDinamicoRequestDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/estadoTarjeta": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Estado Tarjeta",
                "operationId": "estadoTarjeta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestOperacionTarjetaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta del estado de la tarjeta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalOperacionTarjetaResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tarjetas/crearTarjeta": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Crear Tarjeta",
                "operationId": "crearTarjeta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestOperacionTarjetaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la creación de la tarjeta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalOperacionTarjetaResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/crearTarjetaDual": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Crear Tarjeta Dual",
                "operationId": "crearTarjetaDual",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCancelarTarjetaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la actualización exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OperacionTarjetaResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/consultarTarjetas": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Consultar tarjetas del usuario",
                "operationId": "consultarTarjetas",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestOperacionTarjetaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OperacionTarjetaResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/consultarStockTarjetaDebito": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Consultar Stock Tarjeta Debito",
                "operationId": "consultarStockTarjetaDebito",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultarStockTarjetaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta del stock de tarjeta debito exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConsultarStockTarjetaRequestDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tarjetas/consultarMovimientosTarjetaCredito": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Consultar movimientos de tarjeta de crédito",
                "operationId": "consultarMovimientosTarjetaCredito",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultarMovimientosTcRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha asignado consultado los movimientos exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalConsultarMovimientosTcResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/consultarMovimientoAdquiriente": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "consultar  movimiento adquiriente",
                "operationId": "consultarMovimientoAdquiriente",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestMovimientoAdquirienteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha consultado la informacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalMovimientoAdquirienteResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/consultarDetalleTarjeta": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Consultar detalle de la tarjeta del usuario",
                "operationId": "consultarDetalleTarjeta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestOperacionTarjetaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OperacionTarjetaResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/consultarDetalleMovimientoAdquiriente": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "consultar detalle movimiento adquiriente",
                "operationId": "consultarDetalleMovimientoAdquiriente",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestDetalleMovimientoAdquirienteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Se ha consultado la informacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalDetalleMovimientoAdquirienteResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/consultarCuentasTarjetaDebito": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Consultar cuentas de una tarjeta débito",
                "operationId": "consultarCuentasTarjetaDebito",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestOperacionTarjetaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OperacionTarjetaResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/consultarComprasTc": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Consultar Compras TC",
                "operationId": "consultarComprasTc",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultarComprasTcRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la actualización exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConsultarComprasTcResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/consultarCodigosUnicosAdquirencia": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "consultar Codigos Unicos Adquirencia",
                "operationId": "consultarCodigosUnicosAdquirencia",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultaCodigoUnicoAdquirenciaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la actualización exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelarTarjetaResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/compraCarteraTarjetaCredito": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Compra de cartera de tarjeta de crédito",
                "operationId": "compraCarteraTarjetaCredito",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCompraCarteraTarjetaCreditoRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha comprado la cartera exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalCompraCarteraTarjetaCreditoResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/cancelarTarjeta": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Consultar cuentas de una tarjeta débito",
                "operationId": "cancelarTarjeta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCancelarTarjetaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OperacionTarjetaResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/cancelarContratoTarjeta": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Cancelar Contrato Tarjeta",
                "operationId": "cancelarContratoTarjeta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCancelarTarjetaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la actualización exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelarTarjetaResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/cambiarPlazoTarjeta": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Cambiar Plazo Tarjeta",
                "operationId": "cambiarPlazoTarjeta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCambiarPlazoTarjetaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Se ha realizado el cambio de plazo de la tarjeta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CambiarPlazoTarjetaRequestDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tarjetas/aumentarCupoTarjetaCredito": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Aumentar Cupo Tarjeta de Crédito",
                "operationId": "aumentarCupoTarjetaCredito",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestAumentarCupoTcRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado el aumento del cupo de la tarjeta de crédito exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalAumentarCupoTc"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/asignarTarjetaPrestampada": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "asignar tarjeta prestampada de tarjetas del stock",
                "operationId": "asignarTarjetaPrestampada",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestAsignarTarjetaPrestampadaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha asignado una tarjeta preestampada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalAsignarTarjetaPrestampadaResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/asignarPin": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Validacion o Cambio Pin de tarjeta",
                "operationId": "validacionCambioPin",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestGenerarPinRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Se ha realizado la validacion o cambio de pin de la tarjeta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenerarPinRequestDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tarjetas/asignarCuentaTarjetaDebito": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Consultar cuentas de una tarjeta débito",
                "operationId": "asignarCuentaTarjetaDebito",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestAsignarCuentaTarjetaRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OperacionTarjetaResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/actualizarDatosBasicos": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Actualizar Datos Basicos",
                "operationId": "actualizarDatosBasicos",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestActualizarDatosBasicosRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Se ha realizado la actualizacion de datos basicos exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActualizarDatosBasicosResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/tarjetas/activarTarjeta": {
            "post": {
                "tags": [
                    "tarjetas-controller"
                ],
                "summary": "Activar Tarjeta",
                "operationId": "activarTarjeta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestOperacionTarjetaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la activación exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalOperacionTarjetaResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/standard/consultaCodigo": {
            "post": {
                "tags": [
                    "standard-controller"
                ],
                "summary": "Consulta standard by code",
                "operationId": "consultaStandardByCode",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StandardConsultaCodigoRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StandardConsultaCodigoRequestDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/standard/consultaCodigoFramework": {
            "post": {
                "tags": [
                    "standard-controller"
                ],
                "summary": "Consulta standard by code",
                "operationId": "consultaStandardByCode_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestStandardConsultaCodigoFrameworkRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalStandardConsultaCodigoResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/standard/byIdentification": {
            "post": {
                "tags": [
                    "standard-controller"
                ],
                "summary": "Consulta por identificación",
                "operationId": "listenConveniosByIdentification",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ByIdentificationStandardRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashinObligacionesDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/standard/byIdentificationFramework": {
            "post": {
                "tags": [
                    "standard-controller"
                ],
                "summary": "Consulta por identificación",
                "operationId": "listenConveniosByIdentificationFramework",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestOperationDataRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashinObligacionesDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/profile/consultarProfileManager": {
            "post": {
                "tags": [
                    "profile-manager-controller"
                ],
                "summary": "Consultar datos del profile manager",
                "operationId": "consultaProfileManager",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultarProfileManagerRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/productoCaptacion/crearProducto": {
            "post": {
                "tags": [
                    "producto-captacion-v-1-controller"
                ],
                "summary": "Crear producto captacion de un cliente",
                "operationId": "crearProductoCapta_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestProductoCaptaRequestV1DTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalProductoCaptaResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/pap/crearPAP": {
            "post": {
                "tags": [
                    "crear-pap-controller"
                ],
                "summary": "Crear PAP de un cliente",
                "operationId": "crearPAP",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCrearPAPBucRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la creacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalCrearPAPBucResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/inspektor/consultarListasRestrictivas": {
            "post": {
                "tags": [
                    "inspektor-controller"
                ],
                "summary": "Consultar proximo corte de un cliente",
                "operationId": "consultarProximoCorte",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestIdentificacionRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalInspektorResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/inspektor/consultarListasRestrictivasAdapter": {
            "post": {
                "tags": [
                    "inspektor-controller"
                ],
                "operationId": "consultarProximoCorteTest",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestInspectorAdapterRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/fechaProxCorte/proximoCorte": {
            "post": {
                "tags": [
                    "fecha-prox-corte-controller"
                ],
                "summary": "Consultar proximo corte de un cliente",
                "operationId": "consultarProximoCorte_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultarProximoCorteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalConsultarProximoCorteResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/customerProduct/validateCustomerProduct": {
            "post": {
                "tags": [
                    "customer-product-controller"
                ],
                "summary": "Validar Producto Cliente",
                "operationId": "validateCustomerProduct",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidateCustomerProductRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Valida si el cliente tiene un producto activo como titular",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalValidateCustomerProductResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/cuotasVencidas/consultarCuotasVencidas": {
            "post": {
                "tags": [
                    "cuotas-vencidas-controller"
                ],
                "summary": "Crear PAP de un cliente",
                "operationId": "crearPAP_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCuotasVencidasRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la creacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalCuotasVencidasResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/cuentaAhorros/crearCuentaAhorro": {
            "post": {
                "tags": [
                    "crear-cuenta-ahorro-controller"
                ],
                "summary": "Crear Cuenta de ahorro de un cliente",
                "operationId": "crearCuentaAhorro",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCrearCuentaAhorroRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la creacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalCrearCuentaAhorroResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/consultarDetalleCDT": {
            "post": {
                "tags": [
                    "consulta-cdt-controller"
                ],
                "summary": "Consultar Detalle CDT",
                "operationId": "actualizarBilleteraId",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultarDetalleCdtRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConsultarDetalleCdt"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/consultarAsociados": {
            "post": {
                "tags": [
                    "consulta-datos-asociado-controller"
                ],
                "summary": "Consulta los datos básicos de un asociado",
                "operationId": "consultarDatosBasicos",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestConsultarDatosAsociadosRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Consulta exitosa",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error en el servidor",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la petición",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/cliente/crearCliente": {
            "post": {
                "tags": [
                    "clientes-controller"
                ],
                "summary": "Crear cliente",
                "operationId": "crearCliente",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCrearClienteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Se ha realizado la creación del cliente exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalOperacionTarjetaResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/cliente/consultarCliente": {
            "post": {
                "tags": [
                    "clientes-controller"
                ],
                "summary": "Consultar cliente",
                "operationId": "consultarCLiente",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestOperacionClienteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta del cliente exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalOperacionTarjetaResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/cdt/simularCdt": {
            "post": {
                "tags": [
                    "cdt-controller"
                ],
                "summary": "Simulación de un CDT/CDAT",
                "operationId": "simularCdt",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestTimeDepositSimulationRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    },
                    "200": {
                        "description": "Se ha realizado la creacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalSimularCdtResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/cdt/crearCdt": {
            "post": {
                "tags": [
                    "cdt-controller"
                ],
                "summary": "Creación de un CDT/CDAT",
                "operationId": "crearCdt",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestCrearCdtRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Se ha realizado la creacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalCrearCdtRequestDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/cdt/activarCdt": {
            "post": {
                "tags": [
                    "cdt-controller"
                ],
                "summary": "Activar CDT/CDAT",
                "operationId": "activarCdt",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestTimeDeposit"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Se ha realizado la creacion exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CanonicalActivarCdtRequestDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/catalogs/get": {
            "post": {
                "tags": [
                    "catalog-controller"
                ],
                "summary": "Consultar catalogos",
                "operationId": "getCobisCatalogs",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestGetCatalogRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCatalogsResponseDTOResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/buc/verificarDatosUsuarios": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Verificar datos de un usuario",
                "operationId": "verificarDatosUsuarios",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestVerificacionDatosUsuarioRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la verificación exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/buc/verificarDatosUsuarioEMP": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Verificar Datos Usuario",
                "operationId": "VerificarDatosUsuario",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestVerificarDatosUsuarioRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConsultarVariablesInternasResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/buc/validateOwnerShip": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Validate Ownership",
                "operationId": "validateOwnership",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidateOwnershipRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Se ha realizado la consulta exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateOwnershipResponseDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/buc/validateOTP": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Validar OTP",
                "operationId": "validateOTP",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidateOTPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "200": {
                        "description": "Transacción exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashinPagoFacturaDTO"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. Cuando el usuario no tiene el rol adecuado para esta operación"
                    }
                }
            }
        },
        "/api/v1/buc/validateOTC": {
            "post": {
                "tags": [
                    "buc-controller"
                ],
                "summary": "Validar OTC",
                "operationId": "validateOTC",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CanonicalRequestValidateOTCRequestDTO"
                            }
                        }
[...]
